<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Admin
    </h1>

    <%= link_to 'Download claims', admin_claims_path(format: :csv), class: "govuk-button" if service_operator_signed_in? %>
  </div>
</div>
