<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Admin
    </h1>

    <% if service_operator_signed_in? %>
      <ul>
        <li><%= link_to 'Approve claims', admin_claims_path, class: "govuk-link" %></li>
        <li><%= link_to 'Download payroll data', payroll_admin_claims_path(format: :csv), class: "govuk-link" %></li>
      </ul>
    <% end %>

  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Total claims received</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= Claim.submitted.count %></p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Claims awaiting approval</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= Claim.awaiting_approval.count %></p>
  </div>

</div>
