<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    &nbsp;
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Total claims received</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= Claim.submitted.count %></p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Claims awaiting checking</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= Claim.awaiting_checking.count %></p>
  </div>

</div>
