<p class="govuk-body">
  You are not eligible for the early-career payment but you may be able to claim a
  <a class="govuk-link" href="https://www.gov.uk/guidance/teachers-claim-back-your-student-loan-repayments">student loan repayment.</a>
</p>
