<p class="govuk-body">
  If you’re a trainee teacher and plan to complete your studies in this academic
  year you might be able to apply in the next academic year.
</p>

<h1 class="govuk-heading-m">
  What you can do next
</h1>

<p class="govuk-body">
  Set up a reminder with us and we will email you when the next application
  window opens. We will send this to your preferred email address.
</p>

<p class="govuk-body govuk-inset-text">
  It is your responsibility to apply for each payment you are eligible for. The
  Department for Education cannot issue payments unless you apply for
  one nor can we issue payments for claims made after the window has
  closed.
</p>

<%= link_to "Set reminders", "#", draggable: false, class: "govuk-button", role: "button", data: {module: "govuk-button"} %>
