<p class="govuk-body">
  <%= I18n.t("early_career_payments.ineligible.reason.not_teaching_subject") %>
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Chemistry</li>
  <li>Mathematics</li>
  <li>Foreign Languages</li>
  <li>Physics</li>
</ul>
