<p class="govuk-body">
  If you need to know more about who can make a claim, check our 
  <a class="govuk-link" href="https://www.gov.uk/guidance/teachers-claim-back-your-student-loan-repayments">eligibility page.</a>
</p>
