<p class="govuk-body">
  Early-career payments are only available for teachers who did their ITT in:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Mathematics</li>
  <li>Chemistry</li>
  <li>Physics</li>
  <li>Modern Foreign Languages</li>
</ul>
