<span class="govuk-caption-xl">Password confirmation</span>

<%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
  <div class="govuk-form-group govuk-!-margin-bottom-2">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="event-name">One time password</label>
    </h1>

    <div id="event-name-hint" class="govuk-hint">
      We have sent an email to <b><strong><%= current_claim.email_address %></strong></b> with a 6 character password. We recommend you copy and paste the password from the email.
      <br><br>
      You will have 60 seconds from receiving the email before the password will expire.
    </div>
    
    <%= text_field_tag "one_time_password", nil, class: "govuk-input govuk-input--width-10", maxlength: 6, aria: { describedby: "one-time-password-hint" } %>
  </div>

  <div class="govuk-!-margin-bottom-6">
    <a href="#" class="govuk-link govuk-link--no-visited-state ">Not received an email</a>   
  </div>

  <div class="govuk-button-group">
    <%= button_to "Confirm", claim_path(current_policy_routing_name, next_slug), method: :get, class: "govuk-button", data: {module: "govuk-button"} %>
    <a href="eligible-later-email-address" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Use a different email address
    </a>
  </div>
<% end %>
