<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      The uplift payment areas are:
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-m" id="east-midlands">East Midlands</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Derby</li>
      <li>Leicester</li>
      <li>Nottingham</li>
    </ul>

    <h3 class="govuk-heading-m" id="east-of-england">East of England</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Luton</li>
      <li>Peterborough</li>
    </ul>

    <h3 class="govuk-heading-m" id="north-east">North East</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Middlesbrough</li>
      <li>Northumberland</li>
    </ul>

    <h3 class="govuk-heading-m" id="north-west">North West</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Blackpool</li>
      <li>Halton</li>
      <li>Knowsley</li>
      <li>Liverpool</li>
      <li>Oldham</li>
      <li>Rochdale</li>
      <li>Salford</li>
      <li>Sefton</li>
      <li>St. Helens</li>
      <li>Tameside</li>
      <li>Warrington</li>
    </ul>

    <h3 class="govuk-heading-m" id="south-east">South East</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Bracknell Forest</li>
      <li>Isle of Wight</li>
      <li>Milton Keynes</li>
      <li>Portsmouth</li>
      <li>Reading</li>
    </ul>

    <h3 class="govuk-heading-m" id="south-west">South West</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Swindon</li>
    </ul>

    <h3 class="govuk-heading-m" id="west-midlands">West Midlands</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Coventry</li>
      <li>Dudley</li>
      <li>Sandwell</li>
      <li>Stoke-on-Trent</li>
      <li>Telford and Wrekin</li>
      <li>Walsall</li>
      <li>Wolverhampton</li>
    </ul>

    <h3 class="govuk-heading-m" id="yorkshire">Yorkshire</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Barnsley</li>
      <li>Bradford</li>
      <li>Doncaster</li>
      <li>East Riding of Yorkshire</li>
      <li>Kingston Upon Hull</li>
      <li>Kirklees</li>
      <li>North Lincolnshire</li>
      <li>Sheffield</li>
    </ul>
  </div>
</details>
