<% content_for(:page_title, page_title("You will be eligible for an early-career payment in 2022", policy: current_policy_routing_name)) %>
<% year = current_claim.eligibility.eligible_later_year.start_year %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You will be eligible <%= I18n.t("early_career_payments.claim_description") %> in <%= year %></h1>
    <p class="govuk-body">
      So long as your circumstances remain the same, you&rsquo;ll be able to claim <%= number_to_currency(current_claim.eligibility.award_amount, precision: 0) %> in autumn 2022.
    </p>

    <h2 class="govuk-heading-l">What you can do next</h2>

    <p class="govuk-body">
      Set up a reminder with us and we will email you when your application window opens. We will send this to your preferred email address.
    </p>

    <p class="govuk-inset-text">
      It is your responsibility to apply for each payment you are eligible for. The Department for Education cannot issue payments unless you apply for one nor can we issue payments for claims made after the window has closed.
    </p>

    <%= button_to "Continue", new_reminder_path, method: :get, class: "govuk-button" %>
  </div>
</div>
