<% content_for(:page_title, page_title("You’re eligible for an additional payment", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--informational">
      <h1 class="govuk-panel__title">You’re eligible for an additional payment</h1>
    </div>

    <% if current_claim.eligible_now.size == 1 %>
      <%= render partial: "eligibility_confirmed_single", locals: { claim: current_claim.eligible_now.first } %>
    <% else %>
      <%= render partial: "eligibility_confirmed_multiple", locals: { claims: current_claim.eligible_now } %>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next?</h2>

    <p class="govuk-body">
      By providing us with further information we can verify and process your claim.
    </p>

    <p class="govuk-body">
      Once approved, the Department for Education will make the payment directly to you in one lump sum.
    </p>
  </div>
</div>
