<% content_for(:page_title, page_title(t("early_career_payments.one_time_password"), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("one_time_password", locals: {current_claim: current_claim, current_policy_routing_name: current_policy_routing_name, next_slug: next_slug, button_text: "Continue"}) %>
  </div>
</div>
