<% content_for(:page_title, page_title("You’re not eligible for this payment", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= I18n.t("early_career_payments.ineligible") %>
    </h1>

    <p class="govuk-body">
      Based on the answers you have provided you are not eligible
      <%= I18n.t("early_career_payments.claim_description") %>.
    </p>

    <p class="govuk-body">
      If you need to know more about who can make a claim, check our
      <%= link_to "eligibility page", EarlyCareerPayments.eligibility_page_url, class: "govuk-link" %>.
    </p>
  </div>
</div>
