<% content_for(:page_title, page_title("You’re not eligible for this payment", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= I18n.t("early_career_payments.ineligible.heading") %> <%= current_claim.eligibility.ineligibility_reason == :subject_to_formal_performance_action ? "for an early-careers payment" : nil %>
    </h1>

    <%= render "ineligibility_reason_#{current_claim.eligibility.ineligibility_reason}" %>

    <p class="govuk-body">
      If you want to know more about who can apply, check our
      <%= link_to "eligibility page", EarlyCareerPayments.eligibility_page_url, class: "govuk-link" %>.
    </p>
  </div>
</div>
