<% content_for(:page_title, page_title("You’re not eligible for this payment", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= ineligible_heading(current_claim) %>

    <%= render "ineligibility_reason_#{current_claim.eligibility.ineligibility_reason}" %>

    <% if current_claim.eligibility.ineligibility_reason != :ineligible_current_school && current_claim.eligibility.ineligibility_reason != :ineligible_nqt_in_academic_year_after_itt %>
      <p class="govuk-body">
        If you want to know more about who can apply, check our
        <%= link_to "eligibility page", EarlyCareerPayments.eligibility_page_url, class: "govuk-link" %>.
      </p>
    <% end %>
  </div>
</div>
