<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      This school is not eligible
    </h1>

    <p class="govuk-body">
      This is because either:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body">
            It is not a state-funded secondary school in England and is therefore not eligible. 
            For more information, check the 
            <%= link_to "eligibility page", EarlyCareerPayments.eligibility_page_url, class: "govuk-link" %>.
          </p>
        </li>
        <li>
          <p class="govuk-body">
            We could not find a school matching those details in the system.
          </p>
        </li>
         <li>
          <p class="govuk-body">
            The school you selected is listed as closed.
          </p>
        </li>
    </ul>

    <h3 class="govuk-heading-m">
      What can you do next
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p class="govuk-body">
          Check the spelling, including any apostrophes or full stops used in the school’s name.
        </p>
      </li>
      <li>
        <p class="govuk-body">
          Check to make sure the school you selected is not listed as closed.
        </p>
      </li>
      <li>
        <p class="govuk-body">
          Check to make sure you selected the correct school. 
          If your school shares a name with others in the country, 
          make sure you select the one with the correct postcode.
        </p>
      </li>
    </ul>

    <button class="govuk-button">
      Try again
    </button>

    <p class="govuk-body">
      If you need help with your claim, contact
      <a class="govuk-link" href="mailto:#">earlycareerpayments@education.gov.uk</a>
    </p>

  </div>
</div>