<h1 class="govuk-heading-xl">
  You cannot verify this claim
</h1>

<p class="govuk-body govuk-!-margin-top-6">
  Email <%= govuk_mail_to t("further_education_payments_provider.support_email_address") %>
  if you have logged in with the correct organisation and need support.
</p>
