<h1 class="govuk-heading-xl">
  You do not have access to verify claims for this organisation
</h1>

<p class="govuk-body govuk-!-margin-top-6">
  If you think you should have access, you need to:
</p>

<%= govuk_list(
  [
    "check you have logged in to DfE Sign-in using the correct organisation",
    "contact an approver at your organisation to confirm your access rights"
  ],
  type: :bullet
) %>
