<h1 class="govuk-heading-xl">
  You do not have access to this service
</h1>

<p class="govuk-body govuk-!-margin-top-6">
  You can <%= govuk_link_to(
    "request access",
    Policies::FurtherEducationPayments.request_service_access_url(
      params[:dfe_sign_in_uid]
    )
  ) %> to verify retention payments for further
    education teachers using DfE Sign-in.
</p>

<p class="govuk-body govuk-!-margin-top-6">
  Your request will be sent to all approvers at your organisation. Most
  requests will be approved or rejected within 5 days of being raised.
</p>

<p class="govuk-body govuk-!-margin-top-6">
  If you have waited 5 days or longer and you still haven't had a response
  to your request:
</p>

<%= govuk_list(
  [
    "Log in to DfE Sign-in and go to the 'Organisations' tab.",
    "Find the email address of an approver at your organisation.",
    "Send a chaser email."
  ],
  type: :bullet
) %>
