<h1 class="govuk-heading-xl">
  You cannot verify this claim
</h1>

<p class="govuk-body govuk-!-margin-top-6">
  The organisation you have used to log in to DfE Sign-in does not match
  the organisation in the claim.
</p>

<p class="govuk-body govuk-!-margin-top-6">
  If your DfE Sign-in account is linked to multiple organisations, check
  that you have logged in using the correct one.
</p>

<p class="govuk-body govuk-!-margin-top-6">
  Email <%= govuk_mail_to t("further_education_payments_provider.support_email_address") %>
  if you have logged in with the correct organisation and need support.
</p>

<%= govuk_button_link_to "Sign out", Journeys::FurtherEducationPayments::Provider.sign_out_url %>
