<% content_for(:page_title, page_title("Unauthorised")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You cannot verify this claim
    </h1>

    <p>FIXME RL - show reason here</p>
  </div>
</div>
