<% content_for(:page_title, page_title("Unauthorised")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% case @reason %>
    <% when "incorrect_role" %>
      <%= render "incorrect_role" %>
    <% when "claim_not_found" %>
      <%= render "organisation_mismatch" %>
    <% when "no_service_access" %>
      <%= render "no_service_access" %>
    <% else %>
      <%= render "generic" %>
    <% end %>
  </div>
</div>
