<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Contact us
    </h1>

    <p class="govuk-body">
      If you have any problems using this service contact us by emailing <%= mail_to t("support_email_address"), t("support_email_address"), class: "govuk-footer__link" %>.
    </p>

  </div>
</div>
