<%= page_title("Contact us") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Contact us
    </h1>

    <p class="govuk-body">
      If you have any problems using this service contact us by emailing
      <%= mail_to support_email_address(current_policy_routing_name), support_email_address(current_policy_routing_name), class: "govuk-footer__link" %>.
    </p>

  </div>
</div>
