<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for an early-career payment</h1>
    <p class="govuk-body">
      The early-career payment service is exclusively for teachers in state-funded
      schools who are qualified in, and currently teaching either:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li><p class="govuk-body">chemistry</p></li>
      <li><p class="govuk-body">mathematics</p></li>
      <li><p class="govuk-body">modern languages</p></li>
      <li><p class="govuk-body">physics</p></li>
    </ul>

    <p class="govuk-body">
      This service will tell you if you are eligible now, in the future or not at all. Those eligible now will be able to apply for the payment.
    </p>

    <h3 class="govuk-heading-l">Who is eligible in 2021/22?</h3>
    <p class="govuk-body">
      Mathematics teachers who started an undergraduate ITT or postgraduate ITT in the 2018 to 2019 academic year can apply by 31 March 2022.
    </p>
    <p class="govuk-body">
      If you want to know more about the qualifying criteria, check our 
      <a class="govuk-link" href="/">eligibility page.</a>
    </p>

    <%= link_to new_claim_url(EarlyCareerPayments.routing_name), role: :button, draggable: false, class: "govuk-button govuk-button--start", data: { module: "govuk-button"} do %>
      Start Now
      <%= render partial: "shared/svg_for_govuk_button_start_icon" %>
    <% end %>

    <h2 class="govuk-heading-l">Future claims</h2>

    <p class="govuk-body">
      If you are one of the below teachers, you can still 
      <a class="govuk-link" href="/">check your eligibity today.</a>
      If you are eligible, you will need to return when your application window opens.
    </p>

    <p class="govuk-body govuk-!-font-weight-bold">
      Mathematics teachers who started either an undergraduate ITT or postgraduate ITT in the:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p class="govuk-body">
          2019 to 2020 academic year - application opens autumn 2022
        </p>
      </li>
      <li>
        <p class="govuk-body">
          2020 to 2021 academic year - application opens autumn 2022
        </p>
      </li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">
      Physics, chemistry or modern foreign languages teachers who started either an undergraduate ITT or postgraduate ITT in the:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p class="govuk-body">
          2020 to 2021 academic year - application opens autumn 2022
        </p>
      </li>
    </ul>

    <p class="govuk-body">If you do not fall into any of these groups then you will not be eligible for a payment.</p>

    <h2 class="govuk-heading-l">More information</h2>

    <p class="govuk-body">
      Email <a class="govuk-link" href="/">earlycareerpayments@education.gov.uk</a> for more information.
    </p>
    <p>
      Published 28 January 2020 Last updated 28th October 2020
    </p>
  </div>
</div>
