<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "academic_year_2021_2022" if PolicyConfiguration.for(EarlyCareerPayments).current_academic_year.to_s == "2021/2022" %>
    <%= render partial: "academic_year_2022_2023" if PolicyConfiguration.for(EarlyCareerPayments).current_academic_year.to_s == "2022/2023" %>
    <%= render partial: "academic_year_2023_2024" if PolicyConfiguration.for(EarlyCareerPayments).current_academic_year.to_s == "2023/2024" %>
    <%= render partial: "academic_year_2024_2025" if PolicyConfiguration.for(EarlyCareerPayments).current_academic_year.to_s == "2024/2025" %>
  </div>
</div>
