<%= page_title("Sorry, the service is unavailable") %>

<h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <% if @availability_message %>
        <%= @availability_message %>
      <% else %>
        You will be able to use the service later today.
      <% end %>
    </p>

    <p class="govuk-body">
      If you’ve already submitted a claim, we’ll contact you when we have reviewed it.
    </p>

    <p class="govuk-body">
      If you started a claim but did not send it, we have not saved your
      answers. You’ll need to start again when the service is available.
    </p>

    <p class="govuk-body">
      Contact <%= mail_to support_email_address(current_policy_routing_name), support_email_address(current_policy_routing_name), class: "govuk-link" %>
      if you need further information.
    </p>
  </div>
</div>
