<% content_for(:page_title, page_title("Privacy Notice", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Privacy Notice: Claim additional payments for teaching
    </h1>

    <h2 class="govuk-heading-l">
      Who we are
    </h2>

    <p class="govuk-body">
      ‘Claim additional payments for teaching’ is a free and optional service available for eligible teachers to claim additional payments for teaching. It is run by and on behalf of the Department for Education (DfE). For the purpose of data protection legislation, DfE is the data controller for the personal data collected and further processed as part of Claim additional payments for teaching. 
    </p>

    <p class="govuk-body govuk-!-font-weight-bold">
      DfE<br>
      Sanctuary Buildings<br>
      20 Great Smith St<br>
      London<br>
      SW1P 3BT<br>
    </p>

    <h2 class="govuk-heading-l">
      When we collect personal information
    </h2>

    <p class="govuk-body">
      We receive your personal data when you submit it:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to claim a payment</li>
      <li>when contacting us for support using the service</li>
      <li>to leave feedback or for any other matters</li>
      <li>in response to our evaluations of the effectiveness of the service</li>
    </ul>

    <h2 class="govuk-heading-l">
      What personal information we will collect
    </h2>

    <p class="govuk-body">
      If you make a claim we will collect your personal information including:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        your name, postal address, email and your phone number when you contact us
      </li>
      <li>
        your email address if you include it with feedback to us on the service or agree to be contacted for user research purposes
      </li>
      <li>
        your teacher reference number to identify your claim
      </li>
    </ul>

    <p class="govuk-body">
      DfE will also need additional information to process payments in accordance with the Pay As You Earn tax rules
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>national insurance number</li> 
      <li>bank account details</li>
      <li>name</li>
      <li>address</li>
      <li>date of birth</li>
      <li>gender</li>
      <li>information relating to your student loans, if applicable, which are needed for the operation of payroll</li>
    </ul>

    <h2 class="govuk-heading-l">
      How we will use your information
    </h2>

    <p class="govuk-body">
     If you contact us, DfE will use your name and personal information for the purposes of:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>providing support with your claim</li>
      <li>informing you of future opportunities to claim</li>
      <li>evaluating the effectiveness of the service and the policy</li>
      <li>for the purposes of paying you, this will involve sharing personal data with Cantium and HMRC</li>
    </ul>

    <p class="govuk-body">We will not share this information with any other parties.</p>

    <h2 class="govuk-heading-l">
      How we use cookies
    </h2>

    <p class="govuk-body">
     Cookies are used to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>track your progress and record your answers as you complete a claim</li>
      <li>measure how you use this service so it can be updated and improved based on your needs</li>
      <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
    </ul>

    <p class="govuk-body">Claim additional payments for teaching cookies aren’t used to identify you personally.</p>

    <p class="govuk-body">
      Find out more about <a href="https://www.aboutcookies.org/" class="govuk-link">
      how to manage cookies</a>
    </p>

    <h2 class="govuk-heading-l">
      Measuring website usage (Google Analytics)
    </h2>

    <p class="govuk-body">
      We use Google Analytics software to collect information about how you use the service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
    </p>

    <p class="govuk-body">Google Analytics stores information about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the pages you visit on Claim additional payments for teaching</li>
      <li>how long you spend on each page</li>
      <li>how you got to the site</li>
      <li>what you click on while you’re visiting the site</li>
    </ul>

    <p class="govuk-body">We don’t allow Google Analytics to use or share our analytics data.</p>

    <p class="govuk-body">Google Analytics sets the following cookies:</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_ga</th>
          <td class="govuk-table__cell">
            This helps us count how many people visit Claim additional
            payments for teaching by tracking if you’ve visited before
          </td>
          <td class="govuk-table__cell">After 2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_gid</th>
          <td class="govuk-table__cell">
            This helps us count how many people visit Claim additional
            payments for teaching by tracking if you’ve visited before
          </td>
          <td class="govuk-table__cell">After 24 hours</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      You can <a href="https://tools.google.com/dlpage/gaoptout" class="govuk-link">opt out of Google Analytics</a>.
    </p>

    <h2 class="govuk-heading-l">
      Sessions
    </h2>

    <p class="govuk-body">
      A cookie is set to record your session activity.
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_dfe_teachers_payment_service_session</th>
          <td class="govuk-table__cell">
            Stores session data
          </td>
          <td class="govuk-table__cell">After 30 minutes</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-l">
      Our introductory message
    </h2>

    <p class="govuk-body">
      You may see a pop-up welcome message when you first visit Claim additional
      payments for teaching. We’ll store a cookie so that your computer knows you’ve seen
      it and knows not to show it again.
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">XXXX</th>
          <td class="govuk-table__cell">
            Saves a message to let us know that you have seen our cookie message
          </td>
          <td class="govuk-table__cell">After 1 month</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-l">
      Why our use of your personal data is lawful
    </h2>

    <p class="govuk-body">
      In order for our use of your personal data to be lawful, we need to meet one or more
      conditions in the data protection legislation. For the purpose of ‘Claim additional
      payments for teaching’, the Department processes your data where it is necessary
      for the performance of a task carried out in the public interest or in the exercise of
      official authority (Article 6(1)(e) of the UK General Data Protection Regulation).
    </p>

    <h2 class="govuk-heading-l">
      Who we will make your personal data available to
    </h2>

    <p class="govuk-body">
      We sometimes need to make personal data available to other organisations. These
      might include contracted partners (who we have employed to process your personal
      data on our behalf) and/or other organisations (with whom we need to share your
      personal data for specific purposes).
    </p>

    <p class="govuk-body">
      We may check information in your application with:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the school you are currently employed to teach at</li>
      <li>the Teaching Regulation Agency’s Database of Qualified Teachers</li>
      <li>the Teacher Pension Service</li>
      <li>Cantium for the purposes of making payments</li>
      <li>AND Digital as a processor working with the DfE</li>
    </ul>

    <p class="govuk-body">
      Your information is also shared with HMRC for the purposes of processing the claim
      for student loan repayment and paying the tax and national insurance contributions
      on your behalf. The information we share is explained to you at each stage in the
      application process.
    </p>

    <p class="govuk-body">
      Your information is also shared with Cantium for the purposes of making payments.
    </p>

    <p class="govuk-body">
      Your information is also shared with AND Digital as a processor to the DfE.
    </p>

    <p class="govuk-body">
      Where we need to share your personal data with others, we ensure that this data sharing complies with data
      protection legislation.
    </p>

    <p class="govuk-body">
      The Department for Education use your data:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        for security purposes: We collect the IP addresses of people visiting the Claim
        additional payments for teaching website. This is for reasons for security, for
        example, if we were receiving continuous direct denial of service attacks from
        an IP address range then we could block it
      </li>
      <li>
        to enable users to use the service and receive updates
      </li>
    </ul>

    <h2 class="govuk-heading-l">
      How we access your personal data
    </h2>

    <p class="govuk-body">
      To process your claim we will compare the information you have provided with
      records kept on the Teacher Pension Scheme and the Teaching Regulation Agency’s
      Database of Qualified Teachers. This is so we can validate your claim.
    </p>

    <h2 class="govuk-heading-l">
      How long we will keep your personal data
    </h2>

    <p class="govuk-body">
      Most personal data is securely deleted up to six months after a claim has been
      handled to completion and neither DfE nor its delivery partners will keep your
      personal data longer than we need it, however for the purpose of delivery of the
      service, your email address and Teacher Reference Number will be retained for the
      lifetime of the service.
    </p>

    <h2 class="govuk-heading-l">
      Your data protection rights
    </h2>

    <p class="govuk-body">
      You have the right:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to ask us for access to information about you that we hold</li>
      <li>to have your personal data rectified, if it is inaccurate or incomplete</li>
      <li>to restrict our processing of your personal data (i.e. permitting its storage but no further processing)</li>
      <li>
        to object to direct marketing (including profiling) and processing for the purposes of scientific/historical research and statistics
      </li>
      <li>
        not to be subject to decisions based purely on automated processing where it
        produces a legal or similarly significant effect on you
      </li>
    </ul>

    <p class="govuk-body">
      If you need to contact us regarding any of the above, or have any other questions about how your personal information will be used, please <a href="https://www.gov.uk/contact-dfe" class="govuk-link">contact the DfE</a> stating Claim additional payments for teaching.
    </p>

    <p class="govuk-body">
      More information about how the DfE handles personal information is published here:
    </p>

    <p class="govuk-body">
      <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter</a>
      
    </p>

    <p class="govuk-body">
      The Information Commissioner’s Office makes further information about your data protection rights available in
      their <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/" class="govuk-link">
      Guide to the General Data Protection Regulation (GDPR)</a>.
    </p>

    <h2 class="govuk-heading-l">
      The right to lodge a complaint
    </h2>

    <p class="govuk-body">
      You have the right to raise any concerns with the <a href="https://ico.org.uk/make-a-complaint/" class="govuk-link">
      Information Commissioner’s Office (ICO)</a>.
    </p>

    <h2 class="govuk-heading-l">
      Last updated
    </h2>

    <p class="govuk-body">
      We may need to update this privacy notice periodically, so we recommend that you revisit this information from time to time.
      This version was last updated on 3rd September 2021.
    </p>
  </div>
</div>
