<nav aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-4">
  <h2 class="gem-c-contents-list__title">
    Contents
  </h2>

  <ol class="gem-c-contents-list__list">
    <% contents.each do |item| %>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>

        <a class="gem-c-contents-list__link govuk-link gem-print-force-link-styles govuk-link--no-underline" href="<%= item[:href] %>"><%= item[:text] %></a>
      </li>
    <% end %>
  </ol>
</nav>
