<% content_for(:page_title) { page_title("Home") } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Tooling for Claim Team</h1>

    <p class="govuk-body">
      Below are links to the tooling used by the Claim Team to support the service.
      These tools are not intended for use by claimants or other users of the service.
      Please contact the Claim Team if you have any questions about these tools or would like to suggest improvements.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <p class="govuk-body">
      <%= link_to "Admin", "/admin", class: "govuk-link govuk-link--no-visited-state" %> <br />
      <sub class="govuk-body-s">Go to the admin area for claim processing and operations.</sub>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <p class="govuk-body">
      <%= link_to "Journey Components", admin_components_journey_components_path, class: "govuk-link govuk-link--no-visited-state" %> <br />
      <sub class="govuk-body-s">Find guidance for each claim journey and preview the components used across the service.</sub>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <p class="govuk-body">
      <%= link_to "Landing Page Journeys", admin_components_landing_page_journeys_path, class: "govuk-link govuk-link--no-visited-state" %> <br />
      <sub class="govuk-body-s">Open a list of links to each main customer journey start page.</sub>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  </div>
</div>