<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= @form.t([@form.ineligibility_reason, "heading"]) %>
    </h1>

    <p class="govuk-body">
      To be eligible for the early years teacher recognition payment you must be a qualified early years teacher in an eligible local authority area.
    </p>

    <p class="govuk-body">
      If you think this is a mistake, please check your answers or contact us at <%= govuk_mail_to t("early_years_teachers_financial_incentive_payments.support_email_address") %>.
    </p>
  </div>
</div>
