<% content_for(
  :page_title,
  page_title(
    "Claim cancelled",
    journey: current_journey_routing_name,
    show_error: false
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">"Claim cancelled"</h1>

    <div class="govuk-body">
      You have chosen not to continue with your claim. Your claim has been cancelled.
    </div>

    <div class="govuk-body">
      If you change your mind, you can start a new claim.
    </div>

    <%= govuk_button_link_to("Start a new claim", landing_page_path) %>
  </div>
</div>
