<% content_for(
  :page_title,
  page_title(
    @form.t("#{@form.ineligibility_reason}.heading"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      You are not eligible for this payment
    </h1>

    <p class="govuk-body">
      To be eligible for the early years teacher recognition payment you must be a
      qualified early years teacher in an eligible local authority area.
    </p>

    <p class="govuk-body">
      If you think this is a mistake, check your answers or contact us at
      <%= govuk_mail_to "EYTrecognitionpayment@education.gov.uk" %>.
    </p>
  </div>
</div>
