<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Checking qualifications
    </h1>

    <p class="govuk-body">
      We are checking your qualifications, this will take a few moments. If the page does not reload, press the continue button below.
    </p>

    <%= form_with model: @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
