<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Checking qualifications
    </h1>

    <p class="govuk-body">
      We are checking your qualifications and will update shortly.
    </p>
  </div>
</div>
