<% content_for(:page_title, page_title("Upload employment proof success", journey: current_journey_routing_name)) %>
<% @backlink_path = claim_path(current_journey_routing_name, "uploaded-employment-proof") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(
      title_text: "Your document has been uploaded successfully"
    ) %>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We’ll review your documents to confirm where you work.</p>

    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
