{
  "printWidth": 120,
  "proseWrap": "always",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.js.erb",
      "options": { "parser": "babel" }
    },
    {
      "files": "*.md",
      "options": { "printWidth": 80 }
    }
  ]
}
