"use strict";

document.addEventListener("DOMContentLoaded", function () {
  var form = document.querySelector("form#further-education-provision-search-form, form#provision-search-form");

  if (!form) {
    return;
  }

  var feOnly = form.dataset.feOnly || false;
  var excludeClosed = form.dataset.excludeClosed || false;

  var searchInputContainer = form.querySelector("#autocomplete-container");

  if (!searchInputContainer) {
    return;
  }

  var searchInput = (form.querySelector("#claim-provision-search-field") || form.querySelector("#claim-provision-search-field-error"));

  if (!searchInput) {
    return;
  }

  var hiddenInput = form.querySelector("input#claim_possible_school_id");

  var schools = [];

  function findSchool(id) {
    for (var i = 0; i < schools.length; i++) {
      var school = schools[i];

      if (school.id === id) {
        return school;
      }
    }
  }

  function getSchoolIds() {
    return schools.map(function (school) {
      return school.id;
    });
  }

  form.querySelectorAll(".js-remove").forEach(function(el) {
    el.remove();
  });

  accessibleAutocomplete({
    element: searchInputContainer,
    id: searchInput.id,
    name: "claim[provision_search]",
    source: function (query, populateResults) {
      function handleResponse(response) {
        schools = response.data || [];

        populateResults(getSchoolIds());
      }

      Rails.ajax({
        type: "post",
        url: "<%= Rails.application.routes.url_helpers.school_search_index_path %>",
        data: "query=" + query + "&exclude_closed=" + excludeClosed.toString() + "&fe_only=" + feOnly.toString(),
        success: handleResponse,
        error: handleResponse
      });
    },
    minLength: parseInt("<%= School::SEARCH_MINIMUM_LENGTH %>"),
    showNoOptionsFound: false,
    confirmOnBlur: false,
    templates: {
      inputValue: function (id) {
        var school = findSchool(id);
        if (school) return school.name;
      },
      suggestion: function (id) {
        var school = findSchool(id);

        var suggestion =
          '<div class="school-search__suggestion">' +
          '<div class="school-search__suggestion-main-section">' +
          '<label class="govuk-label govuk-label--s">' +
          school.name +
          "</label>" +
          '<div class="govuk-hint">' +
          school.address +
          "</div>" +
          "</div>";

        if (school.closeDate) {
          suggestion +=
            '<div class="school-search__closed-status">' +
            '<div class="govuk-hint govuk-!-margin-bottom-1">' +
            "Closed on<br>" +
            school.closeDate +
            "</div>" +
            "</div>";
        }

        suggestion += "</div>";
        return suggestion;
      }
    },
    onConfirm: function (id) {
      var school = findSchool(id);

      if (!school) {
        return;
      }

      hiddenInput.value = school.id;
    }
  });
});
