<% content_for(:page_title, page_title("You do not have access to this service", journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You do not have access to this service</h1>
    <p class="govuk-body">
      This email address does not have access to this service. Check the email address you entered and try again.
    </p>
    <p class="govuk-body">
      To request access, contact us at <a href="mailto:ops@opsteam.gov.uk">ops@opsteam.gov.uk</a>.
    </p>
  </div>
</div>
