<% content_for(:page_title, page_title(t("early_years_payment_provider_start.check_your_email_page.title"), journey: current_journey_routing_name)) %>

<% @backlink_path = claim_path(current_journey_routing_name, navigator.previous_slug) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @form.resend %>
      <%= govuk_notification_banner(title_text: "Success", success: true) do |banner| %>
        <% banner.with_heading(text: "Email sent to #{journey_session.answers.email_address}") %>
      <% end %>
    <% end %>

    <h1 class="govuk-heading-l">
      Check your email
    </h1>

    <p class="govuk-body">
      We have sent an email to <%= journey_session.answers.email_address %>
    </p>

    <p class="govuk-body">
      Select the link in the email to log in or sign up. The link will expire in 15 minutes.
    </p>

    <div class="govuk-body">
      If you do not receive the email, check your spam or junk folder.
      If you cannot find the email, <%= govuk_button_to "send another link", method: :patch, params: { claim: { resend: true } }, form_class: "inline", class: "button-to-as-link govuk-link--no-visited-state" %> or <%= govuk_link_to "enter another email address", claim_path(current_journey_routing_name, "email-address") %>.
    </div>
  </div>
</div>
