<% content_for(:page_title, page_title(t("early_years_payment_provider_start.check_your_email_page.title"), journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <%= govuk_notification_banner(title_text: "Success", success: true) do |nb|
        nb.with_heading(text: "Email sent to #{journey_session.answers.email_address}")
      end %>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Check your email
    </h1>

    <p class="govuk-body">
      We have sent an email to <%= journey_session.answers.email_address %>
    </p>

    <p class="govuk-body">
      Select the link in the email to log in or sign up. The link will expire in 15 minutes.
    </p>

    <p class="govuk-body">
      If you do not receive the email, check your spam or junk folder.
      If you cannot find the email, <%= govuk_link_to "send another link", "" %> or <%= govuk_link_to "enter another email address", @backlink_path %>.
    </p>
  </div>
</div>
