<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<% @backlink_path = landing_page_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: claim_path(current_journey_routing_name), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_email_field :email_address,
        autocomplete: "email",
        spellcheck: false,
        label: {
          text: "Enter your email address",
          tag: "h1",
          size: "l"
        } do %>
        <p class="govuk-body">
          You must use the email address previously provided to your local authority to access this service.
        </p>
      <% end %>

      <%= f.govuk_submit "Submit" %>
    <% end %>
  </div>
</div>
