<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @payroll_run.created_at.strftime("%B") %> payroll file
    </h1>

    <p class="govuk-body">
      This month's payroll file is ready for processing.
    </p>

    <p class="govuk-body govuk-!-font-weight-bold">
      NOTE: You will only be able to download this file once.
    </p>
  </div>
</div>
