<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If you are a trainee teacher not employed by a school
    </span>
  </summary>
  <div class="govuk-details__text">
    Trainee teachers who are not currently employed in an eligible state-funded
    secondary school in England cannot receive a targeted retention incentive
    payment.
    Check back again in your first year of teaching to see if you are eligible.
  </div>
</details>
