<p class="govuk-body">
  You are not eligible for the
  <%= govuk_link_to(
    I18n.t("targeted_retention_incentive_payments.policy_short_name").downcase,
    Policies::TargetedRetentionIncentivePayments.eligibility_criteria_url,
  ) %>
  because of the subject you studied.
</p>

<p class="govuk-body">
  To be eligible, you must have completed your initial teacher training (ITT),
  undergraduate or postgraduate degree in
  <%= Policies::TargetedRetentionIncentivePayments
    .fixed_subject_symbols.to_sentence(last_word_connector: ", or ") %>.
</p>
