<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Sign in with DfE Sign In
    </h1>
    <%= link_to "Sign in", dfe_sign_in_path, class: "govuk-button" %>
  </div>
</div>
