<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Upload DQT report
    </h1>

    <%= form_with url: admin_qualification_report_uploads_path, multipart: true do |f| %>
      <div class="govuk-form-group">
        <%= f.label 'file', "Upload a CSV file", class: "govuk-label" %>
        <%= f.file_field 'file', class: "govuk-file-upload" %>
      </div>
      <%= f.submit "Upload", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
