<% unless heading.nil? %>
  <h2 class="govuk-heading-m">
    <%= heading %>
  </h2>
<% end %>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <%- answers.each do |(label, answer, slug)| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label %>
      </dt>

      <dd class="govuk-summary-list__value">
        <%= answer %>
      </dd>

      <dd class="govuk-summary-list__actions">
        <%= link_to('Change', claim_path(current_policy_routing_name, slug), class: 'govuk-link') unless slug.nil? %>
      </dd>
    </div>
  <% end %>
</dl>
