<% unless heading.nil? %>
  <h2 class="govuk-heading-m">
    <%= heading %>
  </h2>
<% end %>

<div class="govuk-!-margin-bottom-9">
  <%= govuk_summary_list do |summary_list| %>
    <%- answers.each do |(label, answer, slug)| %>
      <% summary_list.with_row do |row| %>
        <% row.with_key { label } %>
        <% row.with_value { answer } %>
        <% if slug.present? %>
          <% row.with_action(text: "Change", href: claim_path(current_journey_routing_name, slug, change: true), visually_hidden_text: label.downcase) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
