<h2 class="govuk-heading-m">
  <%= heading %>
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <%- answers.each do |(label, answer, slug)| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label %>
      </dt>

      <dd class="govuk-summary-list__value">
        <%= answer %>
      </dd>

      <dd class="govuk-summary-list__actions">
        <% if slug.present? %>
          <%= link_to 'Change', claim_path(slug), class: 'govuk-link' %>
        <% end %>
      </dd>
    </div>
  <% end %>
</dl>
