<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Get help with access codes
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      If you have any issues with the passcode, email us at:
      <%= mail_to support_email_address_for_selected_claim_policy, support_email_address_for_selected_claim_policy, subject: "#{communication_type} verification", class: "govuk-link" -%>.
    </p>
  </div>
</details>
