<p class="govuk-body">
  You can only get this payment if you taught at least one of:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>biology</li>
  <li>chemistry</li>
  <li>physics</li>
  <li>computer science</li>
  <li>languages (not including English)</li>
</ul>
