<p class="govuk-body">
  You can only get this payment if you taught one or more of the following
  subjects between 6 April 2018 and 5 April 2019:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>biology</li>
  <li>chemistry</li>
  <li>physics</li>
  <li>computer science</li>
  <li>languages (not including English)</li>
</ul>
