<p class="govuk-body">
  <%= claim_school_name %>, where you were employed between 6 April 2018 and 5
  April 2019, is not an eligible school. You can only get this payment if you
  were employed at an eligible school.
</p>
