<h1 class="govuk-heading-l">
  You have successfully signed in to GOV.UK One Login
</h1>

<p class="govuk-body">
  Before you can continue your claim, you’ll need to prove your identity through
  GOV.UK One Login.
</p>

<p class="govuk-body">
  When you’ve proved your identity through GOV.UK One Login, you’ll return to
  this service to complete your claim.
</p>

<% if OneLoginSignIn.bypass? %>
  <%= render "sign_in_2_bypass" %>
<% else %>
  <%= govuk_button_to "Continue", "/auth/onelogin_identity" %>
<% end %>
