<h1 class="govuk-heading-l">
  You have successfully proved your identity with GOV.UK One Login
</h1>

<p class="govuk-body">
  You can now continue with your claim.
</p>

<%= form_with model: @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_submit "Continue" %>
<% end %>
