<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Which school were you employed at between 6 April XXXX and 5 April XXXX?
    </h1>

    <p class="govuk-body">Coming next...</p>
  </div>
</div>
