<%= page_title(t("questions.current_school"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @schools.blank? %>
      <%= render "current_school_search" %>
    <% else %>
      <%= render "current_school_search_result" %>
    <% end %>
  </div>
</div>
