<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "school_search", locals: {question: t("student_loans.questions.current_school"), school_id_param: :current_school_id, school_search_value: current_claim.current_school_name} %>
  </div>
</div>
