<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: @form.url,
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_school_search(
        :provision_search,
        search_path: school_search_index_path(exclude_closed: true),
        result_attribute: :possible_school_id,
        label: {
          text: @form.t(:question),
          size: "l",
          tag: "h1"
        },
        hint: {
          text: "Enter the school name or postcode using at least 3 characters"
        }
      ) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
