<%= page_title(t("questions.current_school"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @schools.blank? %>
      <%= render "school_search",
            question: t("questions.current_school"),
            school_id_param: :current_school_id,
            school_search_value: current_claim.eligibility.current_school_name,
            exclude_closed: true
      %>
    <% else %>
      <%= render "school_search_result",
            question: t("questions.current_school"),
            school_param: :current_school,
            school_id_param: :current_school_id
      %>
    <% end %>
  </div>
</div>
