<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You are eligible to claim back student loan repayments</h1>
    <p class="govuk-body">Based on your answers, you are eligible to claim back the student loan
    repayments you made between 6 April XXXX and 5 April XXXX.</p>
    <p class="govuk-body">Now you need to prove who you are using GOV.UK Verify before we can pay
    the money into your bank account.</p>

    <h2 class="govuk-heading-m">Use GOV.UK Verify</h2>
    <p class="govuk-body">Registering with GOV.UK Verify usually takes around 15 minutes. It works best if you have:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a UK address</li>
      <li>a valid passport or photocard licence</li>
    </ul>

    <p class="govuk-body">A certified identity provider will check your identity when you register with GOV.UK Verify.
      They have met all security standards set by the government.</p>

    <%= link_to "Continue to GOV.UK Verify", "https://govuk-verify.herokuapp.com/intro?requestId=dfe-teachers-payment-staging", class: "govuk-button" %>
    <%= link_to "Skip GOV.UK Verify", claim_path("full-name"), class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
