<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You are eligible to claim back student loan repayments</h1>
    <p class="govuk-body">Based on your answers, you can claim back the student loan repayments you made between 6 April 2018 and 5 April 2019.</p>
    <p class="govuk-body">So we can pay you, we need to check your identity using GOV.UK Verify – our secure way to prove who you are online.</p>
    <p class="govuk-body">If you do not have an account already, you’ll have to sign up for one. This usually takes around 15 minutes. You'll need a passport or photocard driving licence and a debit or credit card.</p>

    <% if govuk_verify_enabled? %>
      <%= link_to "Continue to GOV.UK Verify", new_verify_authentications_path, class: "govuk-button" %>
    <% else %>
      <%= link_to "Continue to GOV.UK Verify", "https://govuk-verify.herokuapp.com/intro?requestId=dfe-teachers-payment-staging", class: "govuk-button" %>
    <% end %>
    <%= link_to "Skip GOV.UK Verify", claim_path("full-name"), class: "govuk-button govuk-button--secondary" %>
  </div>
</div>
