<% content_for(
  :page_title,
  page_title(
    "You have already started an eligibility check",
    journey: current_journey_routing_name
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-panel govuk-panel--interruption">
      <%= form_with url: start_new_path(journey: current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
        <% radio_options = [
            OpenStruct.new(id: false, name: "Continue with the eligibility check that you have already started"),
            OpenStruct.new(id: true, name: "Start a new eligibility check")] %>

        <%= f.govuk_collection_radio_buttons :start_new_claim, radio_options, :id, :name,
          class: "govuk-!-margin-bottom-6",
          legend: {
            text: "You have already started an eligibility check",
            tag: "h1",
            size: "xl",
            class: "govuk-!-margin-bottom-9"
          } do %>
          <h2 class="govuk-heading-m">
            You can only have one eligibility check in progress at any time. If you want to start another check, we will delete the data on the check you have already started.
          </h2>

          <h2 class="govuk-heading-m">
            Choose what you want to do:
          </h2>
        <% end %>

        <%= f.govuk_submit "Continue" %>
      <% end %>
    </div>
  </div>
</div>
