<% content_for(:page_title, page_title("How we will use the information you provide", journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How we will use the information you provide</h1>
    <h2 class="govuk-heading-m">To process your application</h2>

    <p class="govuk-body">
      We may check the information with:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the school you are currently employed to teach at</li>
      <li>the Department for Education’s (DfE) database of qualified teachers</li>
      <li>the Teacher Pension Scheme</li>
      <li>the Student Loans Company</li>
    </ul>

    <h2 class="govuk-heading-m">
      How we will pay you
    </h2>

    <p class="govuk-body">
      The Department for Education will make the payment directly to you.
    </p>

    <p class="govuk-body">
      To complete the rest of the application, you will need your:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance number</li>
      <li>bank account details</li>
      <li>teacher reference number</li>
    </ul>

    <p class="govuk-body">
      If you are currently paying off a student loan, a deduction from your additional payment will go towards repaying it.
    </p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Where can I find my teacher reference number (TRN)?
        </span>
      </summary>

      <div class="govuk-details__text">
        <p class="govuk-body">
          Your TRN may be shown on a:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>payslip</li>
          <li>teacher pension statement</li>
          <li>teacher training records</li>
        </ul>

        <p class="govuk-body">
          Get help to <%= link_to "find your TRN (opens in new tab)", "https://find-a-lost-trn.education.gov.uk/start", class: "govuk-link", target: "_blank" %> if you do not know it or have forgotten it.
        </p>
      </div>
    </details>

    <h2 class="govuk-heading-m">Taxable income and National Insurance</h2>

    <p class="govuk-body">
      The Department for Education will pay Income Tax up to basic rate and National Insurance for the payment on your behalf.
    </p>
    <p class="govuk-body">
      If you become or already are a higher rate taxpayer, any additional Income Tax and National Insurance contributions for this payment over the higher rate will remain your responsibility. The higher rate is currently earnings of £50,271 to £125,140, taxed rate 40%.
    </p>
    <p class="govuk-body">
      The Department for Education is not liable to reimburse tax at the higher rate.
    </p>

    <p class="govuk-body">
      <%= information_provided_further_details_with_link(policy: journey_session.answers.selected_claim_policy) %>
    </p>

    <%= govuk_button_to "Continue", claim_path(current_journey_routing_name), method: :patch %>
  </div>
</div>
