<%= page_title("How we will use the information you provide", show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">How we will use the information you provide</h1>

    <p class="govuk-body">
      To process your claim we will check the information in your application with:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>any schools you have worked for</li>
      <li>the Department for Education's database of qualified teachers</li>
      <li>the Teachers Pension Service</li>
    </ul>

    <p class="govuk-body">To pay your claim we will:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>send some of your personal information to HMRC</li>
      <li>pay tax, student loan and national insurance contributions to HMRC</li>
    </ul>

    <p class="govuk-body">
      We will send you details about these payments once we have processed your claim.
    </p>

    <%= link_to "Continue", new_verify_authentications_path, class: "govuk-button", role: "button" %>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What information is sent to HMRC?
        </span>
      </summary>
      <div class="govuk-details__text">
        We send HMRC your full name, date of birth, payment amount and gender details to ensure your
        tax contributions are met. You will still receive your full payment as we cover your tax
        obligations in addition to the payment we make to you.
      </div>
    </details>
  </div>
</div>
