<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Consent to us contacting your school
    </h1>

    <p class="govuk-body">
      By continuing, you consent to the Department for Education contacting your school to confirm:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        that you were empolyed there
      </li>
      <li>
        that you taught 11 to 16 year olds
      </li>
      <li>
        how much student loan you repaid
      </li>
      <li>
        the subjects that you taught
      </li>
      <li>
        how much time you spent teaching each subject
      </li>
    </ul>

    <%= button_to 'Agree and continue', claims_path, method: :post, class: "govuk-button" %>
  </div>
</div>
