<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Consent to us contacting your school
    </h1>

    <p class="govuk-body">
      To claim your student loan payments back we will contact the school you tell
      us about in this claim to confirm:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        that you were employed to teach there
      </li>
      <li>
        that you spent most of your time teaching 11 to 16 year olds or, if you
        were on leave or off sick, that you were employed to teach this age range
      </li>
      <li>
        how much student loan you paid back through your wages while you were there
      </li>
      <li>
        the subject that you were employed to teach, if you worked at a state-
        funded school or academy
      </li>
      <li>
        how much of your time was spent teaching that subject, if you worked at a
        state-funded school or academy
      </li>
    </ul>
    <p class="govuk-body">
      We must do this to process your claim.
    </p>
    <p class="govuk-body">
      By claiming, you are confirming that you consent to us contacting the school.
    </p>

    <%= button_to 'Agree and continue', claims_path, method: :post, class: "govuk-button" %>
  </div>
</div>
