<%= link_to "Back", teacher_detail_path, class: "govuk-back-link" %>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-body" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        You cannot use your DfE Identify account with this service
      </h1>
      <p>
        As you have told us that the information we've received using your DfE Identify account is not correct, you cannot use your DfE Identify account with this service.
      </p>
      <p>
        You can continue to complete an application to check your eligibility and apply for a payment.
      </p>
      <%= form_with(url: claim_path(current_policy_routing_name, "current-school"), method: :get) do %>
        <div class="govuk-form-group">
          <%= submit_tag 'Continue', class: 'govuk-button', data: { module: 'govuk-button' }, 'data-disable-with' => 'Continue' %>
        </div>
      <% end %>
    </div>
  </div>
</main>