<%= link_to "Back", landing_page_path, class: "govuk-back-link" %>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
      <h1 class="govuk-heading-l">
        Use DfE Identity to sign in
      </h1>
      <p>
        You can sign in or set up a DfE Identity account to make it easier to claim additional payments.
      </p>
      <p>
        You will need your National Insurance number and teacher reference number (TRN) to create an account.
      </p>

      <div class="govuk-button-group">
        <%= button_to "Continue with DfE Identity", "/auth/tid", class: "govuk-button", method: :post %>
        <%= button_to "Continue without signing in", claim_path(current_policy_routing_name, "sign-in-or-continue"), method: :patch, class: "govuk-button govuk-button--secondary"%>
      </div>
    </div>
  </div>
</main>
