<% @backlink_path = landing_page_path %>

<% if @form.errors.any? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render(
        "shared/error_summary",
        instance: @form,
        errored_field_id_overrides: { details_check: "claim_details_check_true" }) %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <%= render partial: "sign_in" %>
  </div>
</div>
