<% @backlink_path = landing_page_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <%= govuk_error_summary(@form) %>

    <% if @form.signed_in_with_dfe_identity? %>
      <%= render partial: "confirm_detail", locals: { form: @form } %>
    <% else %>
      <%= render partial: "sign_in_or_continue" %>
    <% end %>
  </div>
</div>
