<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Did you teach some subjects 50% of your time?
    </h1>

    <p class="govuk-body">
      Coming soon&hellip;
    </p>
  </div>
</div>
