<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { details_check: "details_check_true" }) if current_claim.errors.any? %>
  </div>
</div>
    <div class="govuk-body" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l"><%=t "questions.check_and_confirm_details" %></h1>
          <p>We have used your DfE Identify account to retrieve your personal details.</p>
          <p>You must check that all details are correct and confirm they are correct to continue.</p>

          <%= render 'personal_details' %>
          <%= render 'confirmation_form' %>
        </div>
      </div>
    </div>
</div>
