<% content_for(:page_title, page_title("We have verified your identity", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      We have verified your identity
    </h1>

    <p class="govuk-body">
      This is your <%= fields_from_govuk_verify(current_claim) %> from your digital identity:
    </p>

    <%= render partial: "check_your_answers_section", locals: {answers: verify_answers(current_claim), heading: nil} %>

    <%= button_to "Continue", claim_path(current_policy_routing_name), method: :put, class: "govuk-button" %>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Some of this information is wrong
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          If this information is out of date you do not need to tell us. This will not affect your claim.
        </p>
        <p class="govuk-body">
          If you do not recognise some of these details please let us know by emailing
          <%= mail_to support_email_address(current_policy_routing_name), nil, class: "govuk-link" %>.
          You can still continue your claim.
        </p>
      </div>
    </details>
  </div>
</div>
