<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      We have verified your identity
    </h1>

    <p class="govuk-body">
      You can now continue with your claim
    </p>

    <%= button_to "Continue", claim_path, method: :put, class: "govuk-button" %>
  </div>
</div>
