<% content_for(:page_title, page_title("We have set your reminders", journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title" id="reminders-title">We have set your reminder</h1>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We will send you a verification email now. If you don’t receive one,
        contact us on <%= mail_to t("support_email_address", scope: journey::I18N_NAMESPACE), t("support_email_address", scope: journey::I18N_NAMESPACE), class: "govuk-link" %>.
      </p>

      <h3 class="govuk-heading-s">When will your reminder be sent?</h3>

      <p class="govuk-body">
        We will send you a reminder by email in September <%= @form.reminder.send_year -%>. You will be able to check your eligibility and apply at this time.
      </p>

      <p class="govuk-body">
        Each application window will be open for 6 months from September in the year stated. If any of your employment circumstances change it might affect your eligibility.
      </p>

      <p class="govuk-inset-text">
        It is your responsibility to apply for each payment you are eligible for. The Department for Education will not
        issue payments unless you apply, also we will not issue payments for claims made after the window has closed.
      </p>

      <p class="govuk-body">
        <%= link_to "What do you think of this service?", done_page_url, class: "govuk-link" %>
        (takes 30 seconds)
      </p>
  </div>
</div>
