<% content_for(:page_title, page_title("We have set your reminders", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row" >
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title" id="reminders-title">We have set your reminders</h1>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We will send you a verification email now. If you do not receive one, contact
      us on <%= mail_to "earlycareerteacherpayments@digital.education.gov.uk","earlycareerteacherpayments@digital.education.gov.uk", class: "govuk-link" %>.
    </p>

    <h3 class="govuk-heading-s">When will your reminders be sent?</h3>

    <p class="govuk-body">
      We will send you reminders in:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        September 2022
      </li>
      <li>
        September 2023
      </li>
      <li>
        September 2024
      </li>
    </ul>

    <p class="govuk-body">
      This is because, based on your answers, you will be able to apply for an early-career
      payment at each of these times.
    </p>

    <p class="govuk-body">
      After receiving each reminder email, you will have six months to complete an
      application. If any of your employment circumstances change it might affect your
      eligibility.
    </p>

    <p class="govuk-body">
      It is your responsibility to apply for the payment. The Department for Education
      cannot issue payments unless you apply for one.
    </p>

    <p class="govuk-body">
      <%= link_to "What did you think of this service?", done_page_url, class: "govuk-link" %>
      (takes 30 seconds)
    </p>
  </div>
</div>
