<h2 class="govuk-heading-m">Based on what you told us, you can apply for <%= claim.has_ecp_policy? ? "an" : "a" %> <%= policy_name(claim) %> of:</h2>

<p class="govuk-heading-l"><%= number_to_currency(claim.award_amount, precision: 0) %></p>

<%= render partial: "eligibility_guidance_#{claim.policy.locale_key}", locals: { selected_claim_policy: claim.policy } %>
