<p class="govuk-body">
  You are not eligible for additional payment because you are a trainee teacher. You must be a qualified teacher to be eligible.
</p>

<p class="govuk-body">
  You will not be eligible for the
  <%= link_to("early-career payment", Policies::EarlyCareerPayments.eligibility_criteria_url, class: "govuk-link") %>
  or the
  <%= link_to("levelling up premium payment", Policies::LevellingUpPremiumPayments.eligibility_criteria_url, class: "govuk-link") %>
  once you start work as a qualified teacher.
</p>

<p class="govuk-body">
  To be eligible for early-career payments, your initial teacher training (ITT) course must have started (postgraduate) or finished (undergraduate) in:
</p>

<ul class="govuk-body">
  <li>mathematics in the 2019 to 2020 or 2020 to 2021 academic year</li>
  <li>chemistry, languages and physics in the 2020 to 2021 academic year</li>
</ul>

<p class="govuk-body">
  To be eligible for levelling up premium payments, your ITT course must have started (postgraduate) or finished (undergraduate) between the 2019 to 2020 and 2023 to 2024 academic years in computing, chemistry, mathematics or physics.
</p>
