<p class="govuk-body">
  You are not eligible for an additional payment because you do not spend at least half of your contracted hours
  teaching eligible subjects.
</p>
<p class="govuk-body">
  Eligible subjects for
  <%= link_to("early-career payments", Policies::EarlyCareerPayments.eligibility_criteria_url, class: "govuk-link") %>
  are:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>chemistry</li>
  <li>languages</li>
  <li>mathematics</li>
  <li>physics</li>
</ul>

<p class="govuk-body">
  Eligible subjects for
  <%= link_to(I18n.t("targeted_retention_incentive_payments.policy_short_name").downcase.pluralize, Policies::TargetedRetentionIncentivePayments.eligibility_criteria_url, class: "govuk-link") %>
  are:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>chemistry</li>
  <li>computing</li>
  <li>mathematics</li>
  <li>physics</li>
</ul>
