<p class="govuk-body">
  You are not eligible for the
  <%= link_to("early-career payment", Policies::EarlyCareerPayments.eligibility_criteria_url, class: "govuk-link") %>
  because of the subject you studied. Early-career payments are for teachers who did their initial teacher training
  in chemistry, languages, mathematics and physics.
</p>
<p class="govuk-body">
  You are not eligible for the
  <%= link_to("levelling up premium payment", Policies::LevellingUpPremiumPayments.eligibility_criteria_url, class: "govuk-link") %>
  because you do not teach in an eligible school. Levelling up premium payments are offered in state-funded
  secondary schools identified as having a higher need for teachers.
</p>
