<p class="govuk-body">
  You are not eligible for the
  <%= link_to("early-career payment", Policies::EarlyCareerPayments.eligibility_criteria_url, class: "govuk-link") %>
  or the
  <%= link_to(I18n.t("levelling_up_premium_payments.policy_short_name").downcase, Policies::LevellingUpPremiumPayments.eligibility_criteria_url, class: "govuk-link") %>
  because of the subject you studied.
</p>
<p class="govuk-body">
  To be eligible, you must have completed your initial teacher training (ITT), undergraduate or postgraduate degree in
  chemistry, computing, languages, mathematics or physics.
</p>
