<p class="govuk-body">
  You are not eligible for additional payment because you are a trainee teacher.
  You must be a qualified teacher to be eligible.
</p>
<p class="govuk-body">
  You will not be eligible for the
  <%= link_to("early-career payment", Policies::EarlyCareerPayments.eligibility_criteria_url, class: "govuk-link") %>
  once you start work as a qualified teacher. This is because of the year you studied.
  To be eligible for early-career payments, your initial teacher training (ITT) course must have started (postgraduate) or
  finished (undergraduate) in:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>mathematics in the 2018 to 2019, 2019 to 2020 or 2020 to 2021 academic year</li>
  <li>chemistry, languages and physics in the 2020 to 2021 academic year</li>
</ul>
<p class="govuk-body">
  You will not be eligible for the
  <%= link_to(I18n.t("levelling_up_premium_payments.policy_short_name").downcase, Policies::LevellingUpPremiumPayments.eligibility_criteria_url, class: "govuk-link") %>
  once you start work as a qualified teacher. This is because your school is not eligible.
  If you move to a different school you may be eligible in the future.
</p>
<p class="govuk-body">
  <%= I18n.t("levelling_up_premium_payments.policy_short_name").capitalize.pluralize %> are offered in state-funded secondary schools identified as having a higher need
  for teachers.
</p>
