<p class="govuk-body">
  You are not eligible for additional payment because you are a trainee teacher. You must be a qualified teacher to be eligible.
</p>

<p class="govuk-body">
  To be eligible for early-career payments, your initial teacher training (ITT) course must have started (postgraduate) or finished (undergraduate) in:
</p>

<ul class="govuk-body">
  <li>mathematics in the 2019 to 2020 or 2020 to 2021 academic year</li>
  <li>chemistry, languages and physics in the 2020 to 2021 academic year</li>
</ul>

<p class="govuk-body">
  To be eligible for <%= I18n.t("targeted_retention_incentive_payments.policy_short_name").downcase.pluralize %>, your ITT course must have started (postgraduate) or finished (undergraduate) between the 2019 to 2020 and 2024 to 2025 academic years in computing, chemistry, mathematics or physics. If you are currently completing your ITT, you may be eligible next year.
</p>
