<p class="govuk-body">
  You are not eligible for any additional payments.
</p>

<p class="govuk-body">
  For more information, check the eligibility criteria for
  <%= link_to("early-career payments", Policies::EarlyCareerPayments.eligibility_criteria_url, class: "govuk-link") %>
  and
  <%= link_to(I18n.t("levelling_up_premium_payments.policy_short_name").downcase.pluralize, Policies::LevellingUpPremiumPayments.eligibility_criteria_url, class: "govuk-link") %>.
</p>
