<% content_for(:page_title, page_title(t("additional_payments.check_your_answers.part_one.primary_heading"), journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t("additional_payments.check_your_answers.part_one.primary_heading") %>
    </h1>

    <%= render partial: "claims/check_your_answers_section", locals: {heading: "Eligibility details", answers: journey.answers_for_claim(current_claim, journey_session).eligibility_answers} %>

    <p class="govuk-body"><%= t("additional_payments.check_your_answers.part_one.confirmation_notice") %></p>

    <%= button_to "Continue", claim_path(current_journey_routing_name), method: :patch, class: "govuk-button" %>
  </div>
</div>
