<% content_for(:page_title, page_title("You’re eligible for an additional payment", journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--informational">
      <h1 class="govuk-panel__title">You’re eligible for an additional payment</h1>
    </div>

    <% if @form.single_choice_only? %>
      <%= render partial: "eligibility_confirmed_single", locals: { policy: @form.policies_eligible_now.first } %>
    <% else %>
      <%= render "eligibility_confirmed_multiple" %>
    <% end %>
  </div>
</div>
