<% content_for(:page_title, page_title(t("additional_payments.ineligible.reason.trainee_teacher_future_eligibility"), journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= I18n.t("additional_payments.ineligible.reason.trainee_teacher_future_eligibility") %></h1>

    <p class="govuk-body">
      You do not qualify for any additional payments this year because you have not completed your initial teacher training.
    </p>

    <p class="govuk-body">
      You may be able to claim a <%= link_to "#{I18n.t("levelling_up_premium_payments.policy_short_name").downcase} (opens in new tab)", "https://www.gov.uk/guidance/levelling-up-premium-payments-for-teachers", class: "govuk-link govuk-link--no-visited-state", target: "_blank" %> when you are qualified as a teacher.
    </p>

    <h2 class="govuk-heading-m">Set a reminder to apply next year</h2>

    <p class="govuk-body">
      Receive a reminder email so you know when to check your eligibility and apply. We cannot issue payments unless you apply.
    </p>

    <%= link_to "Set reminder", reminder_path(journey: journey::ROUTING_NAME, slug: "personal-details"), class: "govuk-button", role: :button, data: { module: "govuk-button"} %>
  </div>
</div>
