<% require "./lib/ineligibility_reason_checker.rb" %>
<% reason = IneligibilityReasonChecker.new(journey_session.answers).reason %>
<% title_and_h1_content = reason == :current_school ? I18n.t("additional_payments.ineligible.school_heading") : I18n.t("additional_payments.ineligible.heading") %>
<% content_for(:page_title, page_title(title_and_h1_content, journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div id="<%= reason %>" class="govuk-grid-column-two-thirds">
    <%= content_tag(:h1, title_and_h1_content, class: "govuk-heading-xl") %>

    <%= render "ineligibility_#{reason}" %>

    <p class="govuk-body">
      The information you entered is not stored. If you are unsure your information is correct,
      <%= link_to("start again", landing_page_path, class: "govuk-link")%>.
    </p>
  </div>
</div>
