<%= link_to "Back", admin_claim_checks_path(claim_id: @claim.id), class: "govuk-back-link" %>

<div class="govuk-grid-row">

  <%= render "claim_summary", claim: @claim %>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Employment
    </h2>
    <p class="govuk-body-l">Check the claimant's current school matches the below information from their claim.</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("admin.current_school") %>
        </dt>

        <dd class="govuk-summary-list__value">
          <%= display_school(@claim.eligibility.current_school) %>
        </dd>
      </div>
    </dl>
  </div>
</div>
