<% content_for(:page_title) { page_title("Claim #{@claim.reference} checks for #{policy_service_name(@claim.policy.routing_name)}") } %>

<%= link_to "Back", admin_claim_path(@claim), class: "govuk-back-link" %>

<div class="govuk-grid-row">

  <%= render "claim_summary", claim: @claim %>

  <div class="govuk-grid-column-two-thirds">

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Qualifications
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <%= link_to "Check qualification information", admin_claim_check_path(claim_id: @claim.id, check: :qualifications), class: "govuk-link" %>
            </span>
            <% if @claim.checks.exists?(name: "qualifications") %>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Employment
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <%= link_to "Check employment information", admin_claim_check_path(claim_id: @claim.id, check: :employment), class: "govuk-link" %>
            </span>
            <% if @claim.checks.exists?(name: "employment") %>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            <% end %>
          </li>
        </ul>
      </li>
    </ol>

  </div>
</div>
