<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You cannot access this service from DfE Sign-in
    </h1>

    <p class="govuk-body">
      When a claimant applies for a retention payment, an access link will be
      sent to your organisation's nominated email address.
    </p>

    <p class="govuk-body">
      If you have any questions or need support, email:
      <%= govuk_mail_to t("further_education_payments_provider.support_email_address") %>.
    </p>
  </div>
</div>
