<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      We’re sorry, but you are not currently eligible
      for the international relocation payment
    </h1>
    <%= yield if block_given?%>
  </div>
</div>
