<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      <%= govuk_link_to "Check full eligibility details for teachers.", "https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment/#criteria-for-teachers", { target: "_blank" } %>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Check full eligibility details for trainees.", "https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment/#criteria-for-trainee-teachers", { target: "_blank" } %>
    </p>
  </div>
</div>
