<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <% if messages.many? %>
      <h3 class="govuk-notification-banner__heading">
        This claim requires the following to be reviewed:
      </h3>

      <ul>
        <% messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="govuk-notification-banner__heading">
        <%= messages.first %>
      </p>
    <% end %>
  </div>
</div>
