<% if @tasks_presenter.provider_verification.verification_email_sent? %>
  <% if @tasks_presenter.provider_verification.verification_email_sent_by_admin_team? %>
    <div class="govuk-inset-text">
      <% @tasks_presenter.provider_verification.admin_sent_emails.each do |verification_email|%>
        <p>
          The verification request was sent to the provider by
          <% if verification_email.created_by %>
            <%= user_details(verification_email.created_by) %>
          <% else %>
            an automated process
          <% end %>
          on <%= l(verification_email.created_at) %>
        </p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="govuk-body">
    This task has not been sent to the provider yet.
  </p>
<% end %>
