<div class="govuk-inset-text">
  <p class="govuk-body">
    <%= task_status_tag(task.claim, task.name) %>
  </p>
  <p class="govuk-body">
    This task was performed by <%= user_details(task.created_by, include_line_break: false) %> on <%= l(task.created_at) %>
  </p>
</div>
