<% content_for(:page_title) do %>
  <% page_title("Claim #{@claim.reference} alternative verification") %>
<% end %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<div class="govuk-grid-row">
  <%= render(
    "claim_summary_further_education_payments",
    claim: @claim,
    heading: "Alternative identity verification"
  ) %>
</div>

<%= render(
  partial: "alternative_identity_verification_form",
  locals: { claim: @claim, form: @form, task_pagination: @task_pagination }
) %>
