<h1 class="govuk-heading-xl"><%= t(:service_name) %></h1>

<p class="govuk-body">Use this service to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>do something</li>
  <li>do something else</li>
</ul>

<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
  Start now
</a>

<h2 class="govuk-heading-m">Before you start</h2>
