<%= render layout: 'pages/shared/body' do %>
  <p class="govuk-body">
    If you are enrolled on a fee-paying teacher training course, and meet the eligibility requirements for trainees,
    you do not need to apply to receive the international
    payment. <%= govuk_link_to "Get an international relocation payment: criteria for trainee teachers", "https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees#get-an-international-relocation-payment-irp-worth-10000", { target: "_blank" } %>
    gives more information.
  </p>
<% end %>

<%= render partial: 'pages/shared/footer' %>
