<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      You are not currently eligible for the international relocation payment.
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      For more information check the
      <%= govuk_link_to(
        "eligibility criteria for international relocation payments (opens in a new tab)",
        "https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment/",
        target: "_blank",
      ) %>.
    </p>
    <p class="govuk-body">
      If you need support, email
      international.RELOCATIONPAYMENT@education.gov.uk.
    </p>
  </div>
</div>
