<% content_for(
  :page_title,
  page_title(
    t("get_a_teacher_relocation_payment.forms.passport_number.question"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(
      @form,
      url: @form.url,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field(
        :passport_number,
        label: {
          text: t("get_a_teacher_relocation_payment.forms.passport_number.question"),
          size: "l",
          tag: "h1"
        },
      ) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
