<% content_for(
  :page_title,
  page_title(
    t("get_a_teacher_relocation_payment.forms.state_funded_secondary_school.question"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(
      @form,
      url: @form.url,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons(
        :state_funded_secondary_school,
        f.object.available_options,
        -> (option) { option },
        -> (option) { t("get_a_teacher_relocation_payment.forms.state_funded_secondary_school.answers.#{option}.answer") },
        legend: {
          text: t("get_a_teacher_relocation_payment.forms.state_funded_secondary_school.question"),
          size: "l",
          tag: "h1"
        },
        hint: { text: t("get_a_teacher_relocation_payment.forms.state_funded_secondary_school.hint") }
      ) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

