<% content_for(
  :page_title,
  page_title(
        t("get_a_teacher_relocation_payment.forms.subject.question"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(
      @form,
      url: claim_path(current_journey_routing_name),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <% if f.object.errors.any? %>
        <%= render("shared/error_summary", instance: f.object) %>
      <% end %>

      <%= f.govuk_collection_radio_buttons(
        :subject,
        f.object.available_options,
        -> (option) { option },
        -> (option) { t("get_a_teacher_relocation_payment.forms.subject.answers.#{option}") },
        legend: { text: t("get_a_teacher_relocation_payment.forms.subject.question") },
        hint: { text: t("get_a_teacher_relocation_payment.forms.subject.hint") }
      ) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
