<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t("early_years_teachers_provider.landing_page.title") %></h1>

    <% if @journey_open %>
      <p class="govuk-!-margin-top-8">
        <%= govuk_start_button(
          text: "Start now",
          href: claim_path(
            current_journey_routing_name,
            "claim",
            answers: { service_access_code: params[:service_access_code] }
          )
        ) %>
      </p>
    <% end %>
  </div>
</div>
