<h1 class="govuk-heading-xl">
  You do not have access to verify claims for this organisation
</h1>

<p class="govuk-body govuk-!-margin-top-6">
  DfE staff do not have access to verify retention payments for further
  education teachers.
</p>

<p class="govuk-body govuk-!-margin-top-6">
  If you need to view a claim:
</p>

<%= govuk_list(
  [
    "Log in to DfE Sign-in using the ‘Manage Teacher Payments’ organisation.",
    "Go to the ‘Search’ tab.",
    "Search for the claim using the claim reference number."
  ],
  type: :number
) %>

