<h1 class="govuk-heading-xl">
  This claim has already been verified
</h1>

<p class="govuk-body govuk-!-margin-top-6">
  Email <%= govuk_mail_to t("further_education_payments_provider.support_email_address") %>
  if you need to:
</p>

<%= govuk_list(
  [
    "view the verification form",
    "make changes to the details provided in the verification form"
  ],
  type: :bullet
) %>

<p class="govuk-body govuk-!-margin-top-6">
  Make sure you include the claim reference number in your email so we can find
  the claim and process any changes promptly.
</p>
