<% content_for(
  :page_title,
  page_title(
    "Verification complete",
    journey: current_journey_routing_name
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title" id="submitted-title">
        Verification complete
      </h1>

      <div class="govuk-panel__body">
        Claim reference number<br>
        <strong><%= journey_session.answers.claim.reference %></strong>
      </div>
    </div>

    <p class="govuk-body govuk-!-margin-top-6">
      We have sent you a confirmation email.
    </p>

    <p class="govuk-body govuk-!-margin-top-6">
      You should keep the confirmation email on file for one year for future
      reference.
    </p>

    <h2 class="govuk-heading-s">What happens next</h2>

    <p class="govuk-body">
      We have sent your response to the Further education targeted retention incentive payments team. They will:
    </p>

    <%= govuk_list [
      "decide whether to accept or reject the claim",
      "let the claimant know the outcome of their claim via email",
    ], type: :bullet %>

    <p class="govuk-body">
      The Further education targeted retention incentive payments team may contact you again to ask for further information.
    </p>
  </div>
</div>
