<% content_for(
  :page_title,
  page_title(
    "Unauthorised",
    journey: current_journey_routing_name
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% case params[:failure_reason] %>
  <% when "organisation_mismatch" %>
    <%= render "unauthorised_organisation_mismatch" %>
  <% when "no_service_access" %>
    <%= render "unauthorised_no_service_access" %>
   <% when "incorrect_role" %>
    <%= render "unauthorised_incorrect_role" %>
  <% end %>
  </div>
</div>
