<div class="document">
  <div>
    <%= govuk_link_to title_url, new_tab: "" do %>
      <%= render partial: "shared/#{type}_document_icon" %>
    <% end %>
  </div>

  <div>
    <div class="title">
      <%= govuk_link_to title_text, title_url, new_tab: "" %>
    </div>

    <div class="metadata">
      <%= metadata %>
    </div>
  </div>
</div>
