<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <% instance.errors.each do |attribute, error| %>
        <li>
          <%= link_to error, "##{local_assigns.dig(:errored_field_id_overrides, attribute) || "#{instance.class.model_name.singular}_#{attribute}"}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
