<h1 class="govuk-heading-xl">
  You're not eligible for this payment
</h1>

<p class="govuk-body">
  You must have been employed to teach an eligible subject at an eligible
  school for a period of time between <%= StudentLoans.current_financial_year %> to claim.
</p>

<p class="govuk-body">
  For more information, including regional and employment eligibility criteria
  for this payment, visit the
  <%= link_to "‘Claim back your student loan repayments’", "#{StudentLoans.eligibility_page_url}#eligible-teachers", class: "govuk-link" %>
  guidance.
</p>
