<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You can only get this payment if you spent less than half your working hours
  performing leadership duties between 6 April 2018 and 5 April 2019.
</p>

<p class="govuk-body">
  For more information, including employment eligibility criteria for this
  payment, visit the
  <%= link_to "‘Claim back your student loan repayments’", "#{StudentLoans.eligibility_page_url}#eligible-subject", class: "govuk-link" %>
  guidance.
</p>
