<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You must be employed at a state-funded secondary school to be eligible for
  this payment. <%= current_claim.eligibility.current_school_name %>, where you are currently employed,
  is not a state-funded secondary school.
</p>
