<h1 class="govuk-heading-xl">
  You're not eligible for this payment
</h1>

<p class="govuk-body">
  You must have been employed to teach an eligible subject at an eligible school for a period of time between 6 April 2018 and 5 April 2019 to claim.
</p>
