<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You can only get this payment if you spent less than half your working hours
  performing leadership duties between 6 April 2018 and 5 April 2019.
</p>
