<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You can only get this payment if you completed your initial teacher training
  <%= t("#{current_claim.policy.name.underscore}.questions.qts_award_years.on_or_after_september_2013").downcase %>.
</p>

<p class="govuk-body">
  For more information, including eligibility criteria for this payment, visit
  the
  <%= link_to "‘Claim back your student loan repayments’", "#{StudentLoans.eligibility_page_url}#eligible-teachers", class: "govuk-link" %>
  guidance.
</p>
