<% if params[:school_search]&.present? %>
  <% @backlink_path = claim_path(current_journey_routing_name, @page_sequence.current_slug) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @form.schools.blank? %>
      <%= render "claim_school_search",
                 question: claim_school_question(additional_school: params[:additional_school]),
                 school_search_value: (@form.claim_school_name unless params[:additional_school])
      %>

    <% else %>
      <%= render "claim_school_search_results",
                 question: claim_school_question(additional_school: params[:additional_school])
      %>
    <% end %>
  </div>
</div>
