<% content_for(:page_title, page_title("You are eligible to claim back student loan repayments", journey: current_journey_routing_name, show_error: journey_session.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You are eligible to claim back student loan repayments</h1>
    <p class="govuk-body">Based on your answers, you can claim back the student loan repayments you made between <%= Policies::StudentLoans.current_financial_year %>.</p>

    <%= button_to "Continue", @form.url, method: :patch, class: "govuk-button", role: :button, data: { module: "govuk-button"} %>
  </div>
</div>
