<% content_for(
  :page_title,
  page_title(
    mostly_performed_leadership_duties_question,
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :mostly_performed_leadership_duties,
        @form.radio_options,
        :id,
        :name,
        inline: true,
        legend: {
          text: mostly_performed_leadership_duties_question,
          tag: "h1",
          size: "xl"
        },
        hint: {
          text: I18n.t("student_loans.forms.mostly_performed_leadership_duties.hints.mostly_performed_leadership_duties")
        } %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
