<% content_for(:page_title, page_title(t("student_loans.forms.qts_year.questions.qts_award_year"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :qts_award_year,
        @form.radio_options,
        :id,
        :name,
        legend: {
          text: t("student_loans.forms.qts_year.questions.qts_award_year"),
          tag: "h1",
          size: "xl"
        },
        hint: {
          text: "The academic year runs from 1 September to 31 August."
        } %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
