<% content_for(:page_title, page_title(t("student_loans.questions.student_loan_amount"), journey: current_journey_routing_name, show_error: journey_session.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if answers.has_student_loan? %>
      <h1 class="govuk-heading-l">Your student loan repayment amount is <%= number_to_currency(answers.award_amount, precision: 2, strip_insignificant_zeros: true) %> for the <%= Policies::StudentLoans.current_financial_year(:to) %> financial year</h1>
      <p class="govuk-body">This information is provided by the Student Loans Company (SLC).</p>

      <p class="govuk-body">If it is not what you expected you can still complete your application and then contact SLC.</p>
    <% else %>
      <h1 class="govuk-heading-l">We don’t currently have your student loan repayment amount</h1>
      <p class="govuk-body">We haven’t received this information from the Student Loans Company yet. We will contact them on your behalf and ask them to send it to us.</p>

      <p class="govuk-body">You can still complete the rest of your application.</p>
    <% end %>

    <%= button_to "Continue", @form.url, method: :patch, class: "govuk-button", role: :button, data: { module: "govuk-button"} %>
  </div>
</div>
