<h1>Sign in</h1>

<%= button_to "/early-years-teachers-financial-incentive-payments/auth/teacher", "/early-years-teachers-financial-incentive-payments/auth/teacher" %>

<%= button_to "/auth/developer", "/auth/developer" %>
