<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Get an international relocation payment
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">How to apply</h2>

    <p class="govuk-body">
Applications for the international relocation payment (IRP) are currently closed. Teachers and salaried trainees who missed the deadline for applications in 2023, or started their job or course from 1 January 2024, can apply when they reopen between 2 January 2024 and 29 February 2024.
    </p>

    <p class="govuk-body">
You should apply for the IRP in the application window that opens at the start of your first term. If you miss this application window, you will have one further application window to apply – this will open at the start of your second term. If you do not apply within the first two application windows following the start of your job or course, you will no longer be eligible for the IRP.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to(
          'Fee-paying trainees do not need to apply to receive the international relocation payment.',
          'https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment/#criteria-for-trainee-teachers-fee-paying-and-salaried'
          ) %>
    </p>

    <p class="govuk-body">
You can express your interest in the IRP by emailing us at <%= govuk_link_to("irp.expressinterest@education.gov.uk", "mailto:irp.expressinterest@education.gov.uk") %>. We will email you when applications open in 2024.
    </p>
  </div>
</div>
