<%= render 'shared/notices' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Privacy Notice: Get an International Relocation Payment (GaIRP) Application Form</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Who we are</h2>
    <p class="govuk-body">
      This work is being carried out by the International Teacher Recruitment Unit which is a part of the Department for Education (DfE). For the purpose of data protection legislation, the DfE is the data controller for the personal data processed as part of the ‘Get an International Relocation Payment’ (GaIRP) application process.
    </p>

    <h2 class="govuk-heading-l">How we will use your information</h2>
    <p class="govuk-body">
      We receive your personal data when you complete and submit a GaIRP application form. We then use this data to assess your eligibility to receive the international relocation payment.
    </p>

    <h2 class="govuk-heading-l">The nature of your personal data we will be using</h2>
    <p class="govuk-body">
      The categories of your personal data that we will be using for this project are:
      <ul class="govuk-list govuk-list--bullet">
        <li>your full name</li>
        <li>email address</li>
        <li>UK home address</li>
        <li>telephone number</li>
        <li>date of birth</li>
        <li>nationality</li>
        <li>passport number </li>
        <li>gender</li>
        <li>Ip address</li>
      </ul>
    </p>

    <h2 class="govuk-heading-l">Why our use of your personal data is lawful</h2>
    <p class="govuk-body">
      In order for our use of your personal data to be lawful, we need to meet one (or more) conditions in the data protection legislation. For the purpose of this project, the relevant condition is:
    </p>

    <p class="govuk-body">
      <strong>Public task (Article 6 (1)(e))</strong> - the processing is necessary for the organisation to perform a task in the public interest or for the organisation’s official functions, and the task or function has a clear basis in law.
    </p>

    <p class="govuk-body">
     <a href="https://www.legislation.gov.uk/ukpga/2002/32/section/14" target="_blank">Education Act 2002 (legislation.gov.uk) </a> - 14(2)(g) and 14(2)(h) respectively

      <ul class="govuk-list govuk-list--bullet">
        <li>(g) the provision of any form of training for teachers or for non-teaching staff;</li>
        <li>(h) the promotion of the recruitment or retention of teachers or non-teaching staff;</li>
      </ul>
    </p>

    <p class="govuk-body">
      For collection of special category data (i.e. nationality), the relevant Article 9 condition is <strong> (g) Reasons of substantial public interest (with a basis in law) </strong> - processing is necessary for reasons of substantial public interest, on the basis of Union or Member State law which shall be proportionate to the aim pursued, respect the essence of the right to data protection and provide for suitable and specific measures to safeguard the fundamental rights and the interests of the data subject
    </p>

    <h2 class="govuk-heading-l">Who we will make your personal data available to</h2>
    <p class="govuk-body">
      We sometimes need to make personal data available to other organisations. These might include contracted partners (who we have employed to process your personal data on our behalf) and/or other organisations (with whom we need to share your personal data for specific purposes).
    </p>

    <p class="govuk-body">
      Where we need to share your personal data with others, we ensure that this data sharing complies with data protection legislation. For the purpose of this project:

      <ul class="govuk-list govuk-list--bullet">
        <li>Home Office – for purposes of verifying eligibility </li>
        <li>Employing schools – for purposes of verifying eligibility</li>
      </ul>
    </p>

    <h2 class="govuk-heading-l">How long we will keep your personal data</h2>
    <p class="govuk-body">
      The Department for Education will keep your personal data as part of the GaIRP for five years, for the purposes of evaluating the pilot, and identifying and removing further applications from successful applicants.
    </p>

    <h2 class="govuk-heading-l">Your data protection rights</h2>
    <p class="govuk-body">
      More information about how the DfE handles personal information is published here:
      <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" target="_blank">https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter</a>
    </p>

    <p class="govuk-body">
      Under the Data Protection Act 2018, you are entitled to ask if we hold information relating to you and ask for a copy, by making a ‘subject access request’.
      For further information and how to request your data, please use the
      <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen" target="_blank">contact form</a>
      in the Personal Information Charter at

      <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" target="_blank">https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter</a>

      under the ‘How to find out what personal information we hold about you’ section.
    </p>

    <p class="govuk-body">
      If you need to contact us regarding any of the above, please do so via the DfE site at: <a href="https://www.gov.uk/contact-dfe" target="_blank">https://www.gov.uk/contact-dfe</a>.
    </p>

    <p class="govuk-body">
      Further information about your data protection rights appears on the Information Commissioner’s website at:
      <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/" target="_blank">Individual rights | ICO</a>.

    </p>

    <h2 class="govuk-heading-l">Last updated</h2>
    <p class="govuk-body">
      We may need to update this privacy notice periodically so we recommend that you revisit this information from time to time. This version was last updated on 15 September 2023.
    </p>



    <h2 class="govuk-heading-l">Contact Info</h2>
    <p class="govuk-body">
      If you have any questions about how your personal information will be used, please contact us at
      <a href="https://www.gov.uk/contact-dfe" target="_blank">https://www.gov.uk/contact-dfe</a> and
      enter ‘Get an International Relocation Payment’ as a reference.
      For the Data Protection Officer (DPO) please contact us via <a href="http://gov.uk" target="_blank">gov.uk</a>
      and mark it for the attention of the ‘DPO’.
    </p>
  </div>
</div>
