<%= render 'confirmation' %>

<% if current_claim.eligible_now_and_again_sometime? %>
  <h3 class="govuk-heading-s">Set a reminder to apply next year</h3>

  <p class="govuk-body">
    Receive a reminder email so you know when you can apply next year. We cannot issue payments unless you apply.
  </p>

  <%= link_to "Set reminder", new_reminder_path, class: "govuk-button", role: :button, data: { module: "govuk-button"} %>
<% end %>
