<p class="govuk-body">
  We have sent your application to the Department for Education.
</p>

<p class="govuk-body">
  They will verify the information you have provided and then send you the outcome of your application within 4 weeks.
</p>

<p class="govuk-body">
  You will receive email updates as your application progresses.
</p>

<div class="govuk-inset-text">
  It can take up to 8 weeks to process your application and make the payment into your account.
</div>
