<%= render 'confirmation' %>

<h2 class="govuk-heading-m">Set a reminder for when your application window opens</h2>

<p class="govuk-body">
  We will email you when your next application window opens, all you need to do is set a
  reminder. We will send this email to your preferred email address.
</p>

<p class="govuk-body">
  It is your responsibility to apply for the payment. The Department for Education
  cannot issue payments unless you apply for one.
</p>

<%= button_to "Continue", new_reminder_path, method: :get, class: "govuk-button" %>
