<p class="govuk-body">
  Your application will be reviewed by the Department for Education.  If approved, you will receive the payment in one lump sum.
</p>

<p class="govuk-body">
  Payments are given up to 20 weeks from applying. We will email you updates on the progress of your application.
</p>

<p class="govuk-body">
  You will also receive emails to confirm:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    whether your application is accepted or rejected, usually within 14 weeks
  </li>
  <li>
    when your payment has been made, with a full breakdown of how much you have received
  </li>
</ul>

<h2 class="govuk-heading-m">Apply for additional payment each academic year</h2>

<p class="govuk-body">
  So long as your circumstances stay the same, you could claim for additional payment in future academic years. This depends on the years you studied or when you began teaching.
</p>
