<p class="govuk-body">
  Your application will be reviewed by the Department for Education. If approved, you will receive the payment in one lump sum.
</p>

<p class="govuk-body">
  Payments are given up to <%= policy.expected_payment_time_in_weeks / 1.week %>  weeks from applying. We will email you updates on the progress of your application.
</p>

<p class="govuk-body">
  You will also receive emails to confirm:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    whether your application is accepted or rejected, usually within
    <%= policy.decision_deadline_in_weeks / 1.week %> weeks
  </li>

  <li>
    when your payment has been made, with a full breakdown of how much you have received
  </li>
</ul>
