<p class="govuk-body">
  Your application will be reviewed by the Department for Education. We will send
  you a series of emails to keep you up-to-date with your application. These will
  include:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    An update email if you haven’t heard anything from us within 3 weeks
  </li>
  <li>
    An email to confirm when your application is accepted or rejected, usually within 6 weeks of submission
  </li>
  <li>
    An email when your payment has been made, with a full breakdown of how much you have received, usually within 12 weeks of your claim being accepted
  </li>
</ul>

<div class="govuk-inset-text">
  It can take up to 8 weeks to process your application and make the
  payment into your account.
</div>

<p class="govuk-body">
  If there are any delays to your application, we will email you and keep you
  informed.
</p>

