<% content_for(:page_title, page_title("Claim submitted", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Claim submitted</h1>
      <div class="govuk-panel__body">
        Your reference number<br>
        <strong><%= current_claim.reference %></strong>
      </div>
    </div>

    <p class="govuk-body">
      We have sent you a confirmation email to <%= current_claim.email_address %>.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We have sent your application to the Department for Education.
    </p>

    <p class="govuk-body">
      They will verify the information that you have provided and then
      send you the outcome of your application in the next 6 weeks.
    </p>

    <p class="govuk-body">
      This service is currently in development, so while we expect to be
      able to send you the outcome in that time frame, it may change.
    </p>

    <p class="govuk-body">
      You will receive email updates as your application progresses.
    </p>

    <div class="govuk-inset-text">
      It can take up to 18 weeks to process your application and
      make the payment into your account.
    </div>

    <p class="govuk-body">
      <%= link_to "What did you think of this service?", current_claim.policy.done_page_url, class: "govuk-link" %>
      (takes 30 seconds)
    </p>
  </div>
</div>
