<% content_for(:phase) { "Alpha" } %>

<% content_for(
  :page_title,
  page_title(
    "Confirmation",
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title" id="submitted-title">Claim submitted</h1>

      <div class="govuk-panel__body">
        Your reference number<br>
        <strong><%= @form.reference %></strong>
      </div>
    </div>

    <p class="govuk-body">
      We’ve sent a confirmation email to <%= @form.email_address %>.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      Your application will be reviewed by the Department for Education.
    </p>

    <p class="govuk-body">
      You’ll receive full payment or your first monthly instalment within the next X
      working days.
    </p>
  </div>
</div>
