<% content_for(
  :page_title,
  page_title(
    t("early_years_teachers_practitioner.forms.favourite_colour.question"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(
      @form,
      url: @form.url,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field(
        :favourite_colour,
        label: {
          text: t("early_years_teachers_practitioner.forms.favourite_colour.question"),
          size: "xl"
        }
      ) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>


