<% content_for(:phase) { "Alpha" } %>

<% content_for(
  :page_title,
  page_title(
    @form.t(:title),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(
      @form,
      url: @form.url,
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field(
        :national_insurance_number,
        width: 10,
        spellcheck: false,
        label: {
          text: f.object.t(:title),
          tag: "h1",
          size: "l"
        },
        hint: {
          text: f.object.t(:hint)
        }
      ) %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
