<% content_for(:phase) { "Alpha" } %>

<% content_for(
  :page_title,
  page_title(
    @form.t(:title),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Use DfE Identity to sign in
    </h1>

    <p class="govuk-body">
      You can sign in or set up a DfE Identity account to make it easier to claim
      a recognition payment
    </p>

    <p class="govuk-body">
      You will need your National Insurance number and teacher reference number (TRN)
      to create an account.
    </p>

    <%= govuk_button_to(
      "Continue with DfE Identity",
      claim_path(current_journey_routing_name, "sign-in-or-continue"),
      method: :patch,
      params: { claim: { tid_sign_in: true } },
    ) %>

    <%= govuk_button_to(
      "Continue without signing in",
      claim_path(current_journey_routing_name, "sign-in-or-continue"),
      method: :patch,
      params: { claim: { tid_sign_in: false } },
      secondary: true
    ) %>
  </div>
</div>
