<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Page not found</h1>
    <p class="govuk-body">
      If you typed the web address, check it is correct.
    </p>
    <p class="govuk-body">
      If you pasted the web address, check you copied the entire address.
    </p>
    <p class="govuk-body">
      If the web address is correct or you selected a link or button, contact us at
      <%= mail_to t("support_email_address"), t("support_email_address"), class: "govuk-link" %>
      for support.
    </p>
  </div>
</div>
