<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">
      Try again later.
    </p>
    <p class="govuk-body">
      We have not saved your answers. When the service is available, you will have to start again.
    </p>
    <p class="govuk-body">
      Contact us at
      <%= mail_to t("support_email_address"), t("support_email_address"), class: "govuk-link" %>
      for support.
    </p>
  </div>
</div>
