<% content_for(:page_title) { page_title("#{@payroll_run.created_at.strftime("%B")} payroll run") } %>

<% case @payroll_run.status %>
<% when "pending" %>
  <%= render "pending" %>
<% when "complete" %>
  <%= render "complete" %>
<% when "failed" %>
  <%= render "failed" %>
<% else %>
  <% fail "Unknown payroll run status #{@payroll_run.status}" %>
<% end %>

<% if PayrollRun.allow_destroy? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= button_to(
        "Delete payroll run",
        admin_payroll_run_path(@payroll_run),
        method: :delete,
        class: "govuk-button govuk-button--warning",
      ) %>
    </div>
  </div>
<% end %>
