<% content_for(
  :page_title,
  page_title(
    "Make a claim for a targeted retention incentive payment for further education",
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Make a claim for a targeted retention incentive payment for further education
    </h1>

    <p class="govuk-body-l">
      Answer all the questions in the next pages to make a claim for the academic year 2025 to 2026.
    </p>

    <p class="govuk-body">
      Make sure the information you provide in your claim is accurate. Your claim will be rejected if you provide incorrect information.
    </p>

    <p class="govuk-body">
      If you receive a payment from a claim and you are later found to be ineligible, we will take steps to recover the payment.
    </p>

    <h2 class="govuk-heading-m">If you applied last year</h2>

    <p class="govuk-body">
      We review eligibility every year. You will need to make a new claim each time you apply. DfE retains data from previous claims, which may be referenced during your application.
    </p>

    <h2 class="govuk-heading-m">Before starting your claim</h2>

    <p class="govuk-body">
      You’ll also be asked to enter details about your:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>contract or written statement of employment</li>
      <li>teaching timetable</li>
    </ul>

    <p class="govuk-body">
      The details you enter will be checked and verified by your employer.
    </p>

    <%= form_with(
      model: @form,
      url: @form.url,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <%= f.govuk_submit "Start eligibility check" %>
    <% end %>

    <h2 class="govuk-heading-m">Full eligibility criteria</h2>

    <p class="govuk-body">
      Read the <%= govuk_link_to(
        "eligibility guidance for the targeted retention incentive payment",
        Policies::FurtherEducationPayments.eligibility_page_url,
        target: "_blank",
        no_visited_state: true
      ) %>.
    </p>
  </div>
</div>
