<% content_for(:page_title, page_title("How we will use your information", journey: current_journey_routing_name)) %>

<% @backlink_path = nil %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How we will use your information</h1>

    <h2 class="govuk-heading-m">To process your application</h2>

    <p class="govuk-body">
      We will check the information you have provided with the:
    </p>

    <%= govuk_list [
      "further education provider where you currently teach",
      "the Student Loans Company"
    ], type: :bullet %>

    <h2 class="govuk-heading-m">
      How we will pay you
    </h2>

    <p class="govuk-body">
      DfE will make the payment directly to you.
    </p>

    <p class="govuk-body">
      To complete the rest of your application, you will need your:
    </p>

    <%= govuk_list [
      "National Insurance number",
      "bank account details",
    ], type: :bullet %>

    <h2 class="govuk-heading-m">Student loan deductions</h2>

    <div class="govuk-body">
      You can read how student loan deductions and Income Tax may affect your payment in the <%= govuk_link_to "guidance on targeted retention incentive payments for FE teachers", "https://www.gov.uk/guidance/targeted-retention-incentive-payments-for-fe-teachers#payments" %>.
    </div>

    <%= govuk_button_to "Continue", claim_path(current_journey_routing_name), method: :patch %>
  </div>
</div>
