<% content_for(
  :page_title,
  page_title(
    "We’ve signed you out",
    journey: current_journey_routing_name,
    show_error: false
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      We’ve signed you out
    </h1>

    <p class="govuk-body">
      When you’re ready, sign into the service to continue where you left off. We’ve saved your answers, so you can close this page.
    </p>
  </div>
</div>
