<% content_for(
  :page_title,
  page_title(
    "You’ve signed out",
    journey: current_journey_routing_name,
    show_error: false
  )
) %>

<h1 class="govuk-heading-l">
  You’ve signed out
</h1>
