<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      We could not verify your identity
    </h1>

    <p class="govuk-body">
      This might be because:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the company you chose does not have enough information about you
      </li>
      <li>
        the company’s records are not up to date
      </li>
      <li>
        your answers did not match the company’s records
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        check your answers are correct
      </li>
      <li>
        try using a different company
      </li>
    </ul>

    <%= link_to "Try GOV.UK Verify again", new_verify_authentications_path, class: "govuk-button" %>
  </div>
</div>
