<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag @verify_authentication_request.sso_location, authenticity_token: false, id: "verify_auth_request" do %>
      <h1 class="govuk-heading-xl" id="verify_heading">Continue to next step</h1>
      <%= hidden_field_tag "relayState" %>
      <%= hidden_field_tag "SAMLRequest", @verify_authentication_request.saml_request %>
      <p class="govuk-body" id="verify_redirection_message">Because JavaScript is not enabled on your browser, you must press the Continue button.</p>
      <%= submit_tag "Continue", class: "govuk-button", id: "submit_verify_request" %>
    <% end %>
  </div>
</div>
