<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      We could not verify your identity
    </h1>

    <p class="govuk-body">
      This might be because:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        you did not complete the process
      </li>
      <li>
        you did not answer all the questions
      </li>
      <li>
        your answers did not match the company’s records
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Next steps
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        complete the whole process
      </li>
      <li>
        answer all the questions
      </li>
      <li>
        try using a different company
      </li>
    </ul>

    <%= link_to "Try GOV.UK Verify again", new_verify_authentications_path, class: "govuk-button", role: "button", data: {module: "govuk-button"} %>
  </div>
</div>
