<% content_for(:page_title, page_title("This nursery is not eligible", journey: current_journey_routing_name)) %>
<% @backlink_path = claim_path(current_journey_routing_name, "current-nursery") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">This nursery is not eligible</h1>
    <p class="govuk-body">
      This nursery is not part of the incentive scheme.
    </p>
    <%= govuk_button_link_to "Change nursery", claim_path(current_journey_routing_name, "current-nursery") %>
  </div>
</div>
