<% content_for(:page_title, page_title(@form.t(:question, first_name: answers.first_name), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :practitioner_email_address,
        label: { text: @form.t(:question, first_name: answers.first_name), tag: "h1", size: "l" },
        hint: { text: @form.t(:hint) }, spellcheck: "false" %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
