<% content_for(:page_title, page_title("This link has expired", journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      This link has expired
    </h1>

    <p class="govuk-body">
      Select the link below to send another link to the same email address.
    </p>

    <p class="govuk-body">
      The link will expire in 15 minutes.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Resend email", claim_path(Journeys::EarlyYearsPayment::Provider::Start.routing_name, "email-address") %>
    </p>
  </div>
</div>
