<% content_for(:page_title, page_title(@form.t(:question, nursery_name: @form.nursery_name), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: claim_path(current_journey_routing_name), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :paye_reference,
        label: { text: @form.t(:question, nursery_name: @form.nursery_name), tag: "h1", size: "l" },
        hint: -> { %>
          <p>
            This is a series of numbers and letters separated with a slash, like 123/AB456. Your organisation’s payroll or human resources can provide this.
          </p>

          <p>
            We need this to check that the employee is still working at your setting after 6 months.
          </p>
        <% },
        width: 10, spellcheck: "false" %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
