<h1 class="govuk-heading-xl">Accessibility statement</h1>

<p class="govuk-body">
  This accessibility statement applies to the Early Years Financial Incentive
  Payment.
</p>

<p class="govuk-body">
  This website is run by the Department for Education. We want as many people as
  possible to be able to use this website. For example, that means you should be
  able to:
</p>

<ul class="govuk-list">
  <li>
    change colours, contrast levels and fonts
  </li>
  <li>
    zoom in up to 400% without the text spilling off the screen
  </li>
  <li>
    navigate most of the website using just a keyboard
  </li>
  <li>
    navigate most of the website using speech recognition software
  </li>
  <li>
    listen to most of the website using a screen reader (including the most
    recent versions of JAWS, NVDA and VoiceOver)
  </li>
</ul>

<p class="govuk-body">
  We've also made the website text as simple as possible to understand.
</p>

<p class="govuk-body">
  <%= govuk_link_to(
    "AbilityNet (opens in a new tab)",
    "https://mcmw.abilitynet.org.uk/",
    target: "_blank",
    rel: "noopener noreferrer"
  ) %>
  has advice on making your device easier to use if you have a disability.
</p>

<h2 class="govuk-heading-l">
  How accessible this website is
</h2>

<p class="govuk-body">
  We know some parts of this website are not fully accessible:
</p>

<p class="govuk-body">
  The focus while navigating with iOS VoiceOver may not always fall on an
  element on screen which could result in missed content
</p>

<h2 class="govuk-heading-l">Feedback and contact information</h2>

<p class="govuk-body">
  If you need information on this website in a different format like accessible
  PDF, large print, easy read, audio recording or braille:
</p>

<ul class="govuk-list">
  <li>
    email EY.Financial-Incentives@education.gov.uk
  </li>
</ul>

<p class="govuk-body">
  We'll consider your request and get back to you in 7 working days.
</p>

<h2 class="govuk-heading-l">
  Reporting accessibility problems with this website
</h2>

<p class="govuk-body">
  We're always looking to improve the accessibility of this website. If you find
  any problems not listed on this page or think we're not meeting accessibility
  requirements, contact: EY.Financial-Incentives@education.gov.uk
</p>

<h2 class="govuk-heading-l">Enforcement procedure</h2>

<p class="govuk-body">
  The Equality and Human Rights Commission (EHRC) is responsible for enforcing
  the Public Sector Bodies (Websites and Mobile Applications) (No. 2)
  Accessibility Regulations 2018 (the 'accessibility regulations'). If you're
  not happy with how we respond to your complaint,
  <%= govuk_link_to(
    "contact the Equality Advisory and Support Service (opens in a new tab)",
    "https://www.equalityadvisoryservice.com/",
    target: "_blank",
    rel: "noopener noreferrer"
  ) %>.
</p>

<h2 class="govuk-heading-l">
  Technical information about this website's accessibility
</h2>

<p class="govuk-body">
  The Department for Education is committed to making its websites accessible,
  in accordance with the Public Sector Bodies (Websites and Mobile Applications)
  (No. 2) Accessibility Regulations 2018.
</p>

<h2 class="govuk-heading-l">
  Compliance status
</h2>

<p class="govuk-body">
  This website is partially compliant with the WCAG (Web Content Accessibility
  Guidelines) version 2.2 AA standard, due to the following non-compliances
  (and/or) the following exemptions.
</p>

<h3 class="govuk-heading-m">
  Non-accessible content
</h3>

<p class="govuk-body">
  The content is non-accessible for the following reason(s):
</p>

<h4 class="govuk-heading-s">
  Non-compliance with the accessibility regulations
</h4>

<p class="govuk-body">
  Whilst navigating with iOS VoiceOver enabled, sometimes when navigating
  between pages, the focus may not be on an element on the page and may require
  the page to be interacted with before being swiped through. This fails WCAG
  2.2 success criterion 4.1.2 Name, Role, Value. This issue is believed to be
  an issue with iOS VoiceOver and is unable to be fixed.
</p>

<h4 class="govuk-heading-s">
  Disproportionate burden
</h4>

<p class="govuk-body">
  We have determined that there is disproportionate burden to meet all the
  requirements for the following reasons:
</p>

<p class="govuk-body">
  Making improvements would exceed budget for the year and leave the department
  unable to do other work - and would not significantly improve things for
  disabled users.
</p>

<h4 class="govuk-heading-s">
  The content is not within the scope of the accessibility regulations
</h4>

<p class="govuk-body">
  PDFs or other documents published before 23 September 2018 are out of scope of
  the regulations.
</p>

<h2 class="govuk-heading-l">
  What we're doing to improve accessibility
</h2>

<p class="govuk-body">
  We have conducted external accessibility testing and will continue to enhance
  accessibility as we update our service.
</p>

<h2 class="govuk-heading-l">
  Preparation of this accessibility statement
</h2>

<p class="govuk-body">
  This statement was prepared on 5 June 2025. It was last reviewed on 5 June
  2025.
</p>

<p class="govuk-body">
  This website was last tested on 9 May 2025. The test was carried out by
  Zoonou.
</p>

<p class="govuk-body">
  Zoonou used 
  <%= govuk_link_to(
    "WCAG-EM",
    "https://www.w3.org/TR/WCAG-EM/",
    target: "_blank",
    rel: "noopener noreferrer"
  ) %>
  to define a representative selection of pages and test approach.
</p>

<p class="govuk-body">
  Accessibility statement version: 2.0.0
</p>

