<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% (decisions = @claim.decisions.order(created_at: :asc)).each do |decision| %>
      <% heading = (decisions.first == decision ? "Claim decision details" : nil) %>
      <%= render "admin/claims/answer_section", {heading:, answers: admin_decision_details(decision)} %>
    <% end %>
  </div>
</div>
