<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      You’ve told us this applicant does not work at <%= @form.nursery_name %>.
    </h1>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p class="govuk-body">
      We'll let the applicant know this claim has been unsuccessful.
    </p>
  </div>
</div>
