<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Early years financial incentive payment service
    </h1>

    <p class="govuk-body">
      <%= @form.message %>
    </p>
  </div>
</div>

