<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      We can’t find your subscription
    </h1>

    <p class="govuk-body">
      You may have already unsubscribed. If you haven’t, check your email and copy the link again.
    </p>

    <p class="govuk-body">
      If you need more help, contact support at <%= govuk_mail_to I18n.t("support_email_address", scope: [journey.i18n_namespace]), I18n.t("support_email_address", scope: [journey.i18n_namespace]) %>
    </p>
  </div>
</div>
