<% content_for(
  :page_title,
  page_title(
    "Check your answers before sending your application",
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>

    <%= render(
      partial: "claims/check_your_answers_section",
      locals: {
        heading: "Eligibility details",
        answers: journey.answers_for_claim(@form.journey_session).eligibility_answers
      }
    ) %>
  </div>
</div>
