@use "govuk-frontend/dist/govuk/helpers/spacing";
@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/typography";

.hmcts-timeline {
  margin-bottom: spacing.govuk-spacing(4);
  overflow: hidden;
  position: relative;

  &:before {
    background-color: colour.govuk-colour("blue");
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: spacing.govuk-spacing(2);
    width: 5px;
  }
}

.hmcts-timeline--full {
  margin-bottom: 0;
  &:before {
    height: calc(100% - 75px);
  }
}

.hmcts-timeline__item {
  padding-bottom: spacing.govuk-spacing(6);
  padding-left: spacing.govuk-spacing(4);
  position: relative;

  &:before {
    background-color: colour.govuk-colour("blue");
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: spacing.govuk-spacing(2);
    width: 15px;
  }
}

.hmcts-timeline__title {
  @include typography.govuk-font($size: 19, $weight: bold);
  display: inline;
}

.hmcts-timeline__by {
  @include typography.govuk-font($size: 19);
  color: colour.govuk-functional-colour(secondary-text);
  display: inline;
  margin: 0;
}

.hmcts-timeline__date {
  @include typography.govuk-font($size: 16);
  margin-top: spacing.govuk-spacing(1);
  margin-bottom: 0;
}

.hmcts-timeline__description {
  @include typography.govuk-font($size: 16);
  margin-top: spacing.govuk-spacing(4);
}
