@import "govuk-frontend/govuk/all";

.autocomplete__wrapper {
  .autocomplete__menu {
    .autocomplete__option {
      &:hover,
      &--focused {
        .govuk-label,
        .govuk-hint {
          color: govuk-colour("white");
        }
      }
    }
  }
}
