@import "remove_default_button_styling";

.admin-filter-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  column-gap: 0.75rem;
}

.admin-filter-group__button {
  justify-self: center;
  margin-top: 1.85rem;
}

.button-link {
  padding: 0;
  display: inline-block;
  // optional
  font-family: arial, sans-serif; //input has OS specific font-family
  font: inherit;
  text-decoration: underline;
  color: $govuk-link-colour;
  @include remove-default-button-styling;
  @include govuk-link-common;
  @include govuk-responsive-padding(2);
}
