@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/links";
@use "govuk-frontend/dist/govuk/helpers/spacing";

.admin-filter-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  column-gap: 0.75rem;
}

.admin-filter-group__button {
  justify-self: center;
  margin-top: 1.85rem;
}

.button-link {
  padding: 0;
  display: inline-block;
  // optional
  font-family: arial, sans-serif; //input has OS specific font-family
  font: inherit;
  text-decoration: underline;
  color: colour.govuk-functional-colour(link);

  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: inherit;
  cursor: pointer;

  @include links.govuk-link-common;
  @include spacing.govuk-responsive-padding(2);
}
