.admin-filter-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  column-gap: 0.75rem;
}

.admin-filter-group__button {
  justify-self: center;
  margin-top: 1.85rem;
}
