@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/spacing";

.banner {
  background: colour.govuk-colour("red");
  color: colour.govuk-colour("white");
  padding: spacing.govuk-spacing(4);
  margin-bottom: spacing.govuk-spacing(4);

  *[class*="govuk-body"] {
    color: colour.govuk-colour("white");
  }

  .govuk-body-l {
    font-weight: 700;
  }

  a,
  a.govuk-link,
  a:visited {
    color: colour.govuk-colour("white");
  }

  a.govuk-link:focus {
    color: colour.govuk-functional-colour(focus-text);
  }

  h2 {
    margin-bottom: spacing.govuk-spacing(3);
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
