.govuk-button.button-to-as-link, .button-to-as-link {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;

  color: #1d70b8;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  font-family: "GDS Transport";
  font-size: 16px;

  &:focus {
    @include govuk-focused-text;
  }
}

.button-to-as-link:hover {
  cursor: pointer;

  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.1578em;
}

.inline {
  display: inline;
}

.button-to-as-back-link {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;

  width: 4rem;

  @extend .govuk-back-link;
}
