.rebranded-one-login-header__nav__link.button-to-as-link {
  color: inherit;
}

.rebranded-one-login-header__nav__link.button-to-as-link:hover {
  text-decoration: none;
}

.govuk-button.button-to-as-link, .button-to-as-link {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;

  color: #1d70b8;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  &:focus {
    @include govuk-focused-text;
  }
}

.button-to-as-link:hover {
  cursor: pointer;

  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.1578em;
}

.inline {
  display: inline;
}
