@use "sass:map";

@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/typography";
@use "govuk-frontend/dist/govuk/helpers/spacing";
@use "govuk-frontend/dist/govuk/helpers/media-queries";

.status-card {
  padding: spacing.govuk-spacing(2);
  text-decoration: none;
  border: none;
  cursor: default;
  background-color: colour.govuk-functional-colour(brand);

  min-height: 100px;

  @include typography.govuk-font($size: 19, $weight: bold, $tabular: true);

  @include media-queries.govuk-media-query($from: desktop) {
    padding: spacing.govuk-spacing(4);
  }

  // Remove all interactive behaviour
  &, &:hover, &:focus, &:visited, &:active {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    outline: none;
  }
}

// Colours per status (no hover states)
$statuses: (
  "in-progress": (
    "colour": colour.govuk-colour("blue", $variant: "shade-25"),
    "background-colour": colour.govuk-colour("blue", $variant: "tint-80")
  ),
  "not-started": (
    "colour": colour.govuk-colour("yellow", $variant: "shade-50"),
    "background-colour": colour.govuk-colour("yellow", $variant: "tint-80")
  ),
  "pending": (
    "colour": colour.govuk-colour("yellow", $variant: "shade-50"),
    "background-colour": colour.govuk-colour("yellow", $variant: "tint-80")
  ),
  "approved": (
    "colour": colour.govuk-colour("teal", $variant: "shade-50"),
    "background-colour": colour.govuk-colour("teal", $variant: "tint-80")
  ),
  "rejected": (
    "colour": colour.govuk-colour("red", $variant: "shade-25"),
    "background-colour": colour.govuk-colour("red", $variant: "tint-80")
  ),
  "paid": (
    "colour": colour.govuk-colour("blue", $variant: "shade-25"),
    "background-colour": colour.govuk-colour("blue", $variant: "tint-80")
  ),
);

@each $status, $data in $statuses {
  .status-card--#{$status} {
    color: map.get($data, "colour");
    background-color: map.get($data, "background-colour");

    // Remove hover/focus styles just in case
    &:hover, &:focus, &:visited, &:active {
      color: map.get($data, "colour");
      background-color: map.get($data, "background-colour");
      text-decoration: none;
    }
  }
}

.status-card__value {
  @include typography.govuk-font($size: 36, $weight: bold, $tabular: true);
  display: block;
}

.status-card__label {
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: none;
}
