@import "govuk-frontend/govuk/all";

$govuk-cookie-banner-background: govuk-colour("white");
$govuk-cookie-banner-text-black: govuk-colour("black");

.js-enabled .govuk-cookie-banner {
  display: none;

  &.govuk-cookie-banner--visible {
    display: block;
  }

  #accept-cookies {
    display: inline-block;
  }
}

.govuk-cookie-banner {
  @include govuk-font(19);
  padding: govuk-spacing(4) 0 govuk-spacing(2) 0;
  background-color: $govuk-cookie-banner-background;
  border: 2px solid govuk-colour("black");

  #accept-cookies {
    display: none;
  }
}

.govuk-cookie-banner__message {
  display: inline-block;
  margin: govuk-spacing(0);
  padding-right: govuk-spacing(4);
  padding-bottom: govuk-spacing(2);
  color: $govuk-cookie-banner-text-black;
}

.govuk-cookie-banner__buttons {
  @include govuk-clearfix;

  @include govuk-media-query($from: desktop) {
    display: inline-block;
  }

  vertical-align: super;

  .govuk-button {
    padding: 8px 10px;
    margin-bottom: govuk-spacing(2);
    box-shadow: none;
  }

  .govuk-cookie-banner__link {
    padding-left: 30px;
    padding-top: 10px;
    vertical-align: middle;
  }
}
