@import "govuk-frontend/govuk/all";

.govuk-currency-input {
  position: relative;
  &__unit {
    position: absolute;
    bottom: 7px;
    left: 7px;
    @include govuk-font(19, bold);
  }

  &__input.govuk-input {
    padding-left: 20px;
  }
}
