.document {
  display: flex;
  gap: 20px;
  font-size: 1.6875rem;
  margin-bottom: 30px;
}

.document .document-icon {
  display: block;
  width: auto;
  max-width: 99px;
  height: 140px;
  border: rgba(11, 12, 12, .1);
  outline: 5px solid rgba(11, 12, 12, .1);
  background: #fff;
  box-shadow: 0 2px 2px rgba(11, 12, 12, .4);
  fill: #b1b4b6;
  stroke: #b1b4b6;
}

.document .title {
  margin-bottom: 15px;
}

.document .metadata {
  @extend .govuk-body;
  color: #505a5f;
}
