@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/settings/measurements";

%govuk-flash {
  padding: measurements.$govuk-gutter-half;
  margin-bottom: measurements.$govuk-gutter;
  border: 5px solid;
  font-weight: 700;
}

.govuk-flash {
  &__notice {
    @extend %govuk-flash;
    color: colour.govuk-colour("blue");
    border-color: colour.govuk-colour("blue");
  }
  &__alert {
    @extend %govuk-flash;
    color: colour.govuk-colour("red");
    border-color: colour.govuk-colour("red");
  }
  &__warning {
    @extend %govuk-flash;
    color: colour.govuk-colour("orange");
    border-color: colour.govuk-colour("orange");
    a {
      color: colour.govuk-colour("orange");
    }
  }
}
