@import "govuk-frontend-rails";

%govuk-flash {
  padding: $govuk-gutter-half;
  margin-bottom: $govuk-gutter;
  border: 5px solid;
  font-weight: 700;
}

.govuk-flash {
  &__notice {
    @extend %govuk-flash;
    color: govuk-colour("blue");
    border-color: govuk-colour("blue");
  }
  &__alert {
    @extend %govuk-flash;
    color: govuk-colour("red");
    border-color: govuk-colour("red");
  }
  &__warning {
    @extend %govuk-flash;
    color: govuk-colour("orange");
    border-color: govuk-colour("orange");
    a {
      color: govuk-colour("orange");
    }
  }
}
