@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/spacing";

.govuk-heading--navigation .govuk-link:not(:last-of-type) {
  margin-right: spacing.govuk-spacing(2);
}

.claim-error-summary--warning {
  border-color: colour.govuk-colour("blue");
}

.claim-error-summary__list--warning a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: colour.govuk-colour("blue");
  }
}
