$govuk-link-colour: #175b96;

:not(.govuk-panel--interruption)input.govuk-button:not(.govuk-button.govuk-button--secondary) {
  background-color: #006636;

  &:hover {
    background-color: #00562e;
  }
}

.govuk-hint {
  color: #52575b;
}

.govuk-phase-banner__content a {
  color: $govuk-link-colour;
}

.govuk-tag {
  background-color: $govuk-link-colour;
}

.govuk-header__container {
  border-bottom-color: $govuk-link-colour;
}

.govuk-heading--navigation .govuk-link:not(:last-of-type) {
  margin-right: govuk-spacing(2);
}

.claim-error-summary--warning {
  border-color: govuk-colour("blue");
}

.claim-error-summary__list--warning a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: govuk-colour("blue");
  }
}
