// Typography
$small-font-size: 0.9em;
$large-font-size: 1.2em;
$bold-font-weight: 700;

// Colours
$warning-color: govuk-colour("blue");

// Breakpoints
$large-screen: 1300px;
$big-screen: 1024px;
$medium-screen: 900px;
$small-screen: 768px;
$smaller-screen: 520px;
$tiny-screen: 480px;

// Borders
$thick-border: 5px;

.app-navigation {
  $navigation-height: 50px;
  $navigation-padding: 20px;
  border-bottom: 1px solid govuk-colour("mid-grey");
  font-weight: bold;
  background-color: #f8f8f8;
  line-height: 25px;

  @include govuk-clearfix;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.85em;

    @include govuk-media-query($from: tablet) {
      font-size: 1em;
    }

    & > li {
      box-sizing: border-box;
      padding: $navigation-padding 0;
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-bottom: 4px solid transparent;

      &:last-of-type {
        float: right;
      }

      &:hover {
        border-bottom: 4px solid $govuk-link-hover-colour;
      }

      &.active {
        border-bottom: 4px solid govuk-colour("blue") !important;

        a:hover {
          color: $govuk-link-colour;
        }
      }

      a {
        display: block;
        padding: 0 1em;
        color: $govuk-link-colour;
        text-decoration: none;
        @include govuk-media-query($until: tablet) {
          padding: 0 0.5em;
        }

        &:visited {
          color: $govuk-link-colour;
        }

        &:hover {
          color: $govuk-link-hover-colour;
          text-decoration: underline;
        }
        &:focus {
          color: $govuk-link-hover-colour;
          -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
          box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        }
      }
    }
  }
}

nav ul .mobile-header-underline-text {
  @include govuk-media-query($until: desktop) {
    font-weight: normal;
    text-decoration: underline;
  }
}

.mobile-header-top-border {
  @include govuk-media-query($until: desktop) {
    border-top: 3px solid #ffffff;
    margin-top: 2px;
  }
}
