// fix OL header missing interpolation for calc functions
// which causes undesired outputs due to invalid property values
@use "@govuk-one-login/service-header/dist/styles/service-header-no-imports";

.rebranded-cross-service-header__toggle {
  padding: $toggle-padding $toggle-padding calc(#{$toggle-padding} + 1px) $toggle-padding !important;
}

.rebranded-cross-service-header__toggle-content-wrapper {
  &:before {
    bottom: calc(1px - #{$toggle-padding}) !important;
  }
}

.rebranded-cross-service-header__toggle-content-wrapper {
  &:before {
    bottom: calc(1px - #{$toggle-padding}) !important;
  }
}
