$interrupt-background-colour: #005a9e;

.govuk-panel--informational {
  background-color: $interrupt-background-colour;
  color: govuk-colour("white");
  text-align: left;
  padding: govuk-spacing(3) - $govuk-border-width;
  margin-bottom: govuk-spacing(5);

  .govuk-panel__title {
    @include govuk-font($size: 19, $weight: bold);
    margin-bottom: 0;
  }

  .govuk-panel__body {
    @include govuk-font($size: 19);
    margin: 0;
  }
}

.govuk-panel--interruption {
  background-color: govuk-colour("blue");
  text-align: left;

  * {
    color: govuk-colour("white");
  }

  .govuk-list--definition {
    dt,
    dd {
      color: govuk-colour("blue");
    }
  }

  .govuk-button,
  .govuk-button:disabled:hover {
    color: govuk-colour("black");
    background-color: govuk-colour("white");
    box-shadow: 0 2px 0 govuk-colour("dark-blue");
  }
}
