@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/typography";
@use "govuk-frontend/dist/govuk/helpers/spacing";
@use "govuk-frontend/dist/govuk/settings/measurements";

.govuk-panel--informational {
  background-color: colour.govuk-functional-colour('brand');
  color: colour.govuk-colour("white");
  margin-bottom: spacing.govuk-spacing(7);
}

.govuk-panel--small {
  text-align: left;
  padding: spacing.govuk-spacing(3) - measurements.$govuk-border-width;
  margin-bottom: spacing.govuk-spacing(5);

  .govuk-panel__title {
    @include typography.govuk-font($size: 19, $weight: bold);
    margin-bottom: 0;
  }

  .govuk-panel__body {
    @include typography.govuk-font($size: 19);
    margin: 0;
  }
}

.govuk-panel--interruption {
  background-color: colour.govuk-functional-colour('brand');
  text-align: left;

  *, .govuk-heading-m {
    color: colour.govuk-colour("white");
  }

  .govuk-radios__label::before,
  & ::after {
    color: colour.govuk-colour("black");
    border-color: colour.govuk-colour("black");
    background-color: colour.govuk-colour("white");
  }

  .govuk-list--definition {
    dt,
    dd {
      color: colour.govuk-colour("blue");
    }
  }

  .govuk-button,
  .govuk-button:disabled:hover {
    color: colour.govuk-colour("black");
    background-color: colour.govuk-colour("white");
    box-shadow: 0 2px 0 colour.govuk-colour("blue", $variant: "shade-50");
  }

  .govuk-button:hover {
    background-color: colour.govuk-colour("black", $variant: "tint-95");
  }
}
