@use "govuk-frontend/dist/govuk/helpers/colour";

// Don't know why we're redefining tag styles here but unfortunately we have to because of the tag rule in gds_kit_tweaks.scss.

%tag {
  text-transform: none;
  letter-spacing: 0;
  min-width: 4em;
  text-align: center;
}

.govuk-tag {
  &--warning {
    background-color: colour.govuk-colour("orange");
  }

  &--alert {
    background-color: colour.govuk-colour("red");
  }

  &--inactive {
    background-color: colour.govuk-colour("black", $variant: "tint-25");
  }

  &--green {
    color: colour.govuk-colour("green", $variant: "shade-25");
    background: colour.govuk-colour("green", $variant: "tint-80");
  }

  &--grey {
    color: colour.govuk-colour("black", $variant: "tint-25");
    background: colour.govuk-colour("black", $variant: "tint-80");
  }

  &--red {
    color: colour.govuk-colour("red", $variant: "shade-25");
    background: colour.govuk-colour("red", $variant: "tint-80");
  }

  &--yellow {
    color: colour.govuk-colour("yellow", $variant: "shade-50");
    background: colour.govuk-colour("yellow", $variant: "tint-80");
  }

  &--strong-green {
    background-color: colour.govuk-colour("green");
  }

  &--strong-red {
    background-color: colour.govuk-colour("red");
  }
}

.tag--warning {
  @extend %tag;
  @extend .govuk-tag--warning;
}

.tag--alert {
  @extend %tag;
  @extend .govuk-tag--alert;
}

.tag--information {
  @extend %tag;
  background-color: colour.govuk-colour("blue");
}

.govuk-summary-list {
  .tag--warning,
  .tag--alert,
  .tag--information {
    margin-left: 1em;
  }
}
