@import "govuk-frontend/govuk/all";

%tag {
  text-transform: none;
  letter-spacing: 0;
  min-width: 4em;
  text-align: center;
}

.tag--warning {
  @extend %tag;
  background-color: govuk-colour("orange");
}

.tag--alert {
  @extend %tag;
  background-color: govuk-colour("red");
}

.tag--information {
  @extend %tag;
  background-color: govuk-colour("blue");
}

.govuk-summary-list {
  .tag--warning,
  .tag--alert,
  .tag--information {
    margin-left: 1em;
  }
}
