@import "govuk-frontend/govuk/all";

%tag {
  text-transform: none;
  letter-spacing: 0;
  min-width: 4em;
  text-align: center;
}

.govuk-tag {
  &--warning {
    background-color: govuk-colour("orange");
  }

  &--alert {
    background-color: govuk-colour("red");
  }
}

.tag--warning {
  @extend %tag;
  @extend .govuk-tag--warning;
}

.tag--alert {
  @extend %tag;
  @extend .govuk-tag--alert;
}

.govuk-summary-list {
  .tag--warning,
  .tag--alert {
    margin-left: 1em;
  }
}
