@use "govuk-frontend/dist/govuk/helpers/typography";
@use "govuk-frontend/dist/govuk/helpers/spacing";
@use "govuk-frontend/dist/govuk/helpers/media-queries";
@use "govuk-frontend/dist/govuk/helpers/colour";
@use "govuk-frontend/dist/govuk/helpers/clearfix";

/*
GOV.UK Task list pattern (experimental)

This is an experimental GOV.UK pattern, the styles and markup
have been taken from the example given in the GOV.UK prototyping
kit (https://github.com/alphagov/govuk-prototype-kit/blob/master/app/assets/sass/patterns/_task-list.scss)

For more information on the pattern and when to use it take a
look at the GOV.UK Design System.

https://design-system.service.gov.uk/patterns/task-list-pages/

*/

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include media-queries.govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  @include typography.govuk-font($size: 24, $weight: bold);
}

.app-task-list__section-number {
  @include media-queries.govuk-media-query($from: tablet) {
    min-width: spacing.govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include typography.govuk-font($size: 19);
  @include spacing.govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
  @include media-queries.govuk-media-query($from: tablet) {
    padding-left: spacing.govuk-spacing(6);
  }
}

.app-task-list__item {
  border-bottom: 1px solid colour.govuk-functional-colour(border);
  margin-bottom: 0 !important;
  padding-top: spacing.govuk-spacing(2);
  padding-bottom: spacing.govuk-spacing(2);
  @include clearfix.govuk-clearfix;
}

.app-task-list__item:first-child {
  border-top: 1px solid colour.govuk-functional-colour(border);
}

.app-task-list__task-name {
  display: block;
  @include media-queries.govuk-media-query($from: 450px) {
    float: left;
  }
}

.app-task-list__item .app-task-list__task-completed {
  margin-top: spacing.govuk-spacing(2);
  margin-bottom: spacing.govuk-spacing(1);

  @include media-queries.govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
