@use "govuk-frontend/dist/govuk/helpers/colour";

.capt-text-quiet {
  color: colour.govuk-colour("black", $variant: "tint-25");
}

.dark-grey {
  color: colour.govuk-colour("black", $variant: "tint-25");
}

.green {
  color: colour.govuk-colour("green");
}

.red {
  color: colour.govuk-colour("red");
}
