<h1 class="govuk-heading-l">
  We have not been able to confirm your identity via GOV.UK One Login
</h1>

<p class="govuk-body">
  We’ll use your personal details to confirm who you are.
</p>

<%= govuk_button_to(
  "Continue",
  claim_path(current_journey_routing_name),
  method: :patch
) %>
