<p class="govuk-body">one login page goes here</p>
<%= form_with model: @form, url: claim_path(current_journey_routing_name), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
  <%= f.govuk_submit %>
<% end %>
