<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You can only get this payment if you completed a degree specialising
  in maths or physics or you specialised in maths and physics for your
  initial teacher training.
</p>

<p class="govuk-body">
  If you trained to teach physics as part of science but specialised in a
  subject other than physics, you are not eligible to claim.
</p>
