<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You can only get this payment if you are employed directly by your school for
  at least one term.
</p>
