<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You can only get this payment if you’re not currently subject to disciplinary
  action.
</p>

<div class="govuk-inset-text">
  If you’re cleared or your warning expires by 28 February 2020 you can apply
  again.
</div>

<p class="govuk-body">
  For more information, including performance eligibility criteria for this
  payment, visit the
  <%= link_to "’Claim a payment for teaching maths or physics’", "#{MathsAndPhysics.eligibility_page_url}#eligible-teachers", class: "govuk-link" %>
  guidance.
</p>
