<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You can only get this payment if you’re not currently subject to disciplinary
  action.
</p>

<div class="govuk-inset-text">
  If you’re cleared, or your warning expires by 31 January 2020 you
  can apply again.
</div>
