<h1 class="govuk-heading-xl">
  This school is not eligible
</h1>

<p class="govuk-body">
  You can only get this payment if you are employed to teach at an eligible state-funded secondary school.
</p>

<p class="govuk-body">
  For more information, including regional and employment eligibility criteria for this payment,
  visit the
  <%= link_to "’Claim a payment for teaching maths or physics’", "#{MathsAndPhysics.eligibility_page_url}#eligible-subjects", class: "govuk-link" %>
  guidance.
</p>
