<h1 class="govuk-heading-xl">
  You’re not eligible for this payment
</h1>

<p class="govuk-body">
  You can only get this payment if you are employed directly by your school for
  at least one term.
</p>

<p class="govuk-body">
  For more information, including supply teacher eligibility criteria for this
  payment, visit the
  <%= link_to "‘Claim a payment for teaching maths or physics’", "#{MathsAndPhysics.eligibility_page_url}#eligible-teachers", class: "govuk-link" %>
  guidance.
</p>
