<h2 class="govuk-heading-l">
  <%= heading %>
</h2>

<% if local_assigns.has_key?(:description) %>
  <p class="govuk-body-l">
    <%= description %>
  </p>
<% end %>

<%= render "admin/claims/answers", { answers: answers } %>
