<div class="govuk-error-summary" aria-labelledby="identity-error-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="identity-error-title">
    Identity has not been confirmed
  </h2>
  <p class="govuk-body">Claims without a confirmed identity cannot be approved at present.</p>
</div>
