<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Claims
    </h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Reference</th>
          <th scope="col" class="govuk-table__header">Applicant Name</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @claims.each do |claim| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><%= claim.reference %></th>
            <td class="govuk-table__cell"><%= claim.full_name %></td>
            <td class="govuk-table__cell"><%= link_to 'View claim', admin_claim_path(claim), class: "govuk-link" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
